.card{
	background-color: #fff;
	margin-bottom:20px; 
}
.page-wrapper{
	background-color: #edf1f5;
    margin-top: 80px;
}
.card-body{
	padding:1.25rem;
}
.text-info{
	color:#03a9f3;
	font-size: 25px;
}
.text-info1{
	color:#ab8ce4;
	font-size: 25px;
}
.text-info2{
	color:#e46a76;
	font-size: 25px;
}
.text-info3{
	color:#00c292;
	font-size: 25px;
}
.leftmargin{
	margin-left: auto;
}
.sdflex{
	display: flex;
}
.textcolr{
	color:#6c757d;
}
.table{
	width: 100%
}
.table tbody tr td {
	vertical-align: middle;
}
.label {
    padding: 3px 10px;
    line-height: 13px;
    color: #fff;
    font-weight: 400;
    border-radius: .25rem;
    font-size: 75%;
}
.label-warning {
    background-color: #fec107;
}
.label-success{
	background-color: #00c292;
}
.label-danger{
	background-color: #e46a76;
}
.bagcolor{
	background-color: #f8f9fa;
}
.padin{
	padding-left: 20px;
}
.toppn{
	padding: 20px;
	margin-top: 10px;
}
.imag{
	width: 88px;
	height:88px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
    }
.login-box {
    width: 400px;
    margin-left:29%;
      
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}
.login-register {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    padding: 10% 0;

}
.m-t-10 {

    margin-top: 10px;

}
.m-b-0 {

    margin-bottom: 0;

}
input{
	border:none;
	box-shadow: none;

	background-color: transparent;
}

.text-dark {
    color: #343a40 !important;
}
.p-b-20 {
    padding-bottom: 20px;
}
.m-l-5 {
    margin-left: 5px;
}
.text-info {
    color: #03a9f3 !important;
}
   .foorm input{
    border: none;
      
    background-color: transparent;
    box-shadow: none;
    border-bottom: 1px solid #c9c9c9;
    border-radius: 0px;
}
.foorm input:focus{
	box-shadow: none;
	background-color: transparent;

}
.batn button{
	border-radius: 35px;
	 box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.2) ;
}
.login-box .social {

    display: block;
    margin-bottom: 30px;

}
.sfacebook {
    background-color: #3b5998;
    padding-top:10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left:15px; 
    border-radius: 35px;
    color: #fff;
    text-decoration:none;
    margin-right: 15px; 
}
.sgoogle{
	background-color:tomato;
	padding-top:10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left:10px; 
    border-radius: 35px;
    color: #fff;
    text-decoration:none; 
}
.bb{
	font-size: 14px;
}
.ccimag{
    margin-top: 35px;
}
.addme{
    padding-left: 30px;
}
.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    background-color: #15122a;
}
.justify-content-center {
    justify-content: center !important;
}
.align-self-center {
    align-self: center !important;
}
.text-white{
    color: #fff;
}
.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 15px;
    color: #6c757d;
}
.d-flex {
    display: block !important;
}
.social-profile {
    text-align: center;
    background: rgba(7,10,43,.8);
}
.nav-tabs {

    border-bottom: 1px solid #dee2e6;

}
.profile-tab li a.nav-link.active {

    border-bottom: 2px solid #fb9678;
    color: #fb9678;

}
.profiletimeline {

    position: relative;
    padding-left: 40px;
    margin-right: 10px;
    border-left: 1px solid #e9ecef;
    margin-left: 30px;

}
.profiletimeline .sl-item {

    margin-top: 8px;
    margin-bottom: 30px;

}
.profiletimeline .sl-left {

    float: left;
    margin-left: -60px;
    z-index: 1;
    margin-right: 15px;

}
.profiletimeline .sl-date {

    font-size: 12px;
    color: #6c757d;

}
a.link {

    color: #212529;

}
.radius {

    border-radius: .5rem;

}
.mr10 {

    margin-right: 10px;

}
.mb20{
    margin-bottom: 20px;
}
.mt30{
    margin-top: 30px;
}
.progress{
    height: 6px;
}
.bg-success {
    background-color: #00c292 !important;
}
.bg-info {
    background-color: #03a9f3 !important;
}
.bg-danger {
    background-color: #e46a76 !important;
}
.bg-warning {
    background-color: #fec107 !important;
}
.card .card-title a{
    position: relative;
    font-weight: 500;
}
.d-flex.no-block {
    display: flex !important;
}
.m-b-5{
    margin-bottom: 5px;
}
.p-r-15{
    padding-right: 15px;
}
.m-b-20{
    margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 960px){
    .ccimag {
        width:200px;
        height: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
    
    }
    .addme {
        padding-left: 35px;

    }
}