body {
    margin-top: 100px;
    /*background-color: #222;*/
        background-color: #f2f2f2;
        font-family: "Poppins-Medium", sans-serif;
        color:#50514f;;
}
@font-face{
    font-family: 'SegoeUI';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/SegoeUI.ttf') format('truetype');
}
@font-face{
    font-family: 'Poppins-Medium';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/Poppins-Medium.otf') format('opentype');
}
.main-status{
    margin:0px;
}
.user{
    background:white;
    margin-top:10px;
    padding:7px;
    color:#7dc625;
}
.padd-20{
    padding:0px;
}
.table-green{
color: white;
background-color: #66a912;
border-color: #5aab5a;
}
.frm{
    padding:20px;
}
.btn-view{
    border-radius:0px;
}
.login-1 .form-control[disabled]{
    background:transparent;
}
.btn-success a{
    color:green;
}
.btn-success:hover a{
    color:white;
}
.tab1{
    height:600px;
    overflow-y:auto !important;
}
.tab2{
    height:585px !important;
    overflow-y:auto !important;
}
.login{
    margin:4.9% 30%;
    border-radius:5px;
    background: linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.2)),white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
   
}
.login1{
    margin:0 auto;
    border-radius:5px;
    background: linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.2));
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.login-1 input{
    background: transparent;
    border: none;
    border-bottom: 2px solid green;
    border-radius:0px;
    box-shadow: none;
    outline:none;
}
.login-1 input:focus{
    border-color:none;
    border-bottom-color: #76bd1d;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.log{
    background:linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.6)), url(../img/building.jpg);
    background-size:cover;
}
.login-1 .form-control::placeholder{
    color:#a7b7a7;
}

.con{
    font-size:15px;
}
.clr{
    list-style: none;
    margin-left:15px;
    padding: 10px 0 0 10px;
}
.clr li{
    display: inline;
    padding:3px 0px;
}
.clr li button{
    padding: 10px;
}

.status{
    background:white;
    border-radius:10px;
    box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);
    color:black;
    padding:30px 20px;
}
.drop li a:focus .side-nav li a{
    color:  #76bd1d;
}
.sidebar_exp .side-nav li{
    visibility: visible;
animation-duration: 1s;
animation-name: fadeIn;
-webkit-animation-name: fadeIn;
}

.drp.panel{
    transition: 0.4s; width: 100%;
    border-radius: 0;
}
.side-nav li drop li a:active .side-nav li.active{
    color:  #76bd1d;
}
.side-nav li.active:hover{
    border:none !important;
}
    .side-nav li a:hover,
    .side-nav li a:focus,
    .side-nav li a:active {
        outline: none;
        background-color: transparent !important;
        color: #76bd1d !important;
    }
.sidebar_exp  .lnr-chevron-down{
    font-size: 11px;
    position: absolute;
right: 5px;
top: 20px;
transform: rotate(-90deg);
transition: 0.5s;
}
/*.sidebar-clss .side-nav{
    animation-duration: 0.3s;
animation-name: fadeIn;
-webkit-animation-name: fadeIn;
}*/
.side-nav li a i{
    margin-right:10px;
}
.sidebar_exp .drp a[aria-expanded="true"]  .lnr-chevron-down{
    transform: none;
transition: 0.5s;

}
.navbar-nav {
    margin: 0px -15px;
}
.drp{
    background-color: #231f20;
    margin-bottom:0px;
    border:none !important;
    box-shadow:none;
}
.drp a{
    border-left: 4px solid transparent;
}
.drp ul li a{
    font-family: 'Montserrat', sans-serif;
}
.sidebar-clss .lnr-chevron-down{
 display: none !important;
}
.sidebar-clss .drp a{
    text-align: center;
}
.padd_10{
    padding:10px 15px;
}
.dash_panel h3{
    margin-top: 0px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.3px;
    font-family: "Poppins-Medium";
}
.select_form{
  display: inline-block;
max-width: 100%;
padding: 0.375rem 1.75rem 0.375rem 0.75rem;
line-height: 1.57143;
color: #74708d;
vertical-align: middle;
background: #fff url("../img/select_option.svg") no-repeat right 0.75rem center;
    background-size: auto auto;
background-size: 8px 10px;
border: 1px solid #ddd;
border-radius: 0.25rem;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.dash_panel .panel{
    border-radius: 0px;
}
.dash_panel i{
    font-size: 36px;
}
.navbar-inverse{
    background:#231f20;
    border:0px solid #76bd1d;
}
.pd_tb_lr{
        padding: 10px 15px;
}
.icon_fa .fa{
        color: #fff !important;
    font-size: 30px;
}
.icon_color_size .lnr,.icon-settings,.icon-logout{
    color: #76bd1d !important;
    font-size: 20px;

}


.icon_color_size .lnr-chevron-down{
font-size: 12px !important;
font-weight: bold;
}
.user-drop{
     box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
-webkit-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
-moz-box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
border-color: #e9ecef;
margin-top: 5px;
min-width: 15rem;
padding:10px 2px;
font-size: 15px;
color: #212529;
text-align: left;
list-style: none;
background-color: #fff;
background-clip: padding-box;
border: 1px solid #e9ecef;
z-index: 1000;
border-radius: 0.25rem;
}
.icon_color_size{
    margin-top: 4px;
}
.lnr-menu{
    font-size: 24px !important;
}
.icon_color_size a.dropdown-toggle{
    margin-top: 4px;
}
.lnr-user{
    font-size: 18px !important;
    padding-right: 5px;
}
.icon_color_size a.msg_tp{
    margin-top: 2px !important;
}
.dash_panel .icon-home{
    color: #76bd1d;
}
.dash_panel .icon-info{
    color: #03a9f3;
}
.dash_panel .icon-user{
    color: #dd2a2a;
}


#wrapper {
    padding-left: 0;
        transition: 0.3s ease;
        background-color: #fff;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    /*background-color: #e7edde;*/
    /*background-color: #efefef;*/
    background-color: #f2f2f2;
    height:calc(100% -67px);

}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px){
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
        padding-left:30px;
    }
}

/* Top Navigation */
.alpha{
display:none;
}
.alpha2{
    display:block!important;
    }
.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 10px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: transparent;
}
label{
    font-weight:lighter;
    color:#6e6f6d;
}
/******************************BACKEND************************************/

/* .error{
    visibility: hidden;
} */
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 

 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}

 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-y {
    height: calc(100vh - 50px)!important;
    right: 2px;
    top: 0;
    width: 8px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;

}
 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #7fe404; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #231f20; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color:#7fe404; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color:#7fe404; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }
/****************************************************/
.breadcrumbss{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-family: 'Poppins-Medium';
    }
    .panel-title{
        font-family: 'Poppins-Medium';
        font-weight: 400 !important;
    }
    .btn{
        font-family: 'Poppins-Medium';
    }
    .breadcrumbss h1 {
        background: #fff none repeat scroll 0 0;
        color: rgba(0, 0, 0, 0.7);
        font-size: 40px;
        letter-spacing: 7px;
        margin: 0;
        padding: 20px 0;
      
      }
      .breadcrumbss ul {
        display: inline-block;
        list-style: outside none none;
        padding: 0;
      }
      .breadcrumbss li {
        display: inline;
        float: left;
        margin-right: 10px;
      }
      .breadcrumbss li:last-child {
        margin: 0;
      }
      .breadcrumbss a,.breadcrumbss  a:hover,.breadcrumbss  a:focus,.breadcrumbss a:active {
        background:#76bd1d;
        display: inline-block;
        outline: medium none;
        padding: 5px 5px 5px 25px;
        text-decoration: none;
        color: white;
        position: relative;
      }
      .breadcrumbss a:hover {
        background: #76bd1d;
        color: white;
      }
      .breadcrumbss a:focus {
        background: #76bd1d;	
      }
      .breadcrumbss li:first-child a {
        border-radius: 10px 0 0 10px;
        padding-left: 10px;
      }
      .breadcrumbss li:last-child a {
        border-radius: 0 10px 10px 0;
      }
      .breadcrumbss  a::before {
        border-color: transparent transparent transparent #f2f2f2;
        border-style: solid;
        border-width: 15px 0 15px 15px;
        box-sizing: border-box;
        content: "";
        height: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 0;
      }
      .breadcrumbss a::after {
        border-color: transparent transparent transparent #76bd1d;
        border-style: solid;
        border-width: 15px 0px 15px 15px;
        box-sizing: border-box;
        content: "";
        height: 0;
        left: 100%;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1;
      }
      .breadcrumbss a:hover::after {
          border-left-color: #76bd1d;
      }
      .breadcrumbss a:focus::after {
          border-left-color: #76bd1d;
      }
      .breadcrumbss li:first-child a:before, li:last-child a:after {
          display: none;
      }
      .breadcrumbss li:last-child a{
          background:#d3f1ae;
          color:green;
      }
      .breadcrumbss i {
        margin-right: 5px;
      }
    
      /***********************/
.white h4{
 
 
    padding:10px;
    /*margin-left:20px;*/
    border-radius:20px;
    font-size:22px;
    padding-left: 0px;
}
/*************NAVIGATE*********/
.navigate{
    border:none;
}
.navigate .navbar-nav>.active>a{
    background:#ddeed6 !important;
    color:green;
    border-bottom:none;
    padding: 15px;
    left: 15px;
    border-top-left-radius: 5px;
}
.navigate .navbar-nav>li>a{
    background:none !important;
    color:#333;
    border-bottom:none;
    padding: 15px;
    left: 15px;
    border-top-left-radius: 5px;
}

.error{
    visibility: block !important;
    color: lightcoral;
    font-size: 13px;
  
  
}
.err{
    border-color: lightcoral !important;
   
}
.mandatory::after { 
    content: "*";
    color:red;
}
.selectionpop .fancymodal-content{
    max-width:70% !important;
    margin: -28px auto;
    left: 117px;
    height: 550px;
    overflow:auto;
    color:grey;
}
/***********************************BACKEND ENDS HERE*********************************/
#dropdown_custom li ul li.active{
    background:#aad07c;;
}
#dropdown_custom li ul li.active a{
    color:white !important;
    font-weight:bold;
}
.user_text{
    margin-top: 10px;
    color: #5ab51d;
}
.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}
.top-nav>.open>.dropdown-menu>li>a i {
  padding-right: 10px;
}
ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

.row{
   
    /*margin-right:0px !important;*/
}
li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}
.navbar-inverse .navbar-nav > li > a {
    color: black;
}

/* Side Navigation */

@media(min-width:768px) {
  #dropdown_custom{
height: calc(100vh - 50px)!important;
}
    .side-nav {
        position: fixed !important;
        top: 52.4px;
        left: 250px;
        width: 250px;
        margin-left: -250px;
        border: none;
        border-radius: 0;
        /*overflow-y: auto;*/
        background-color:#231f20;
        bottom: 0;
        /*overflow-x: hidden;*/
        padding-bottom: 40px;
            transition: 0.33s ease;
            box-shadow: 0 15px 12px rgba(0, 0, 0, 0.26);
    font-family: 'SegoeUI';
    height: calc(100vh - 50px)!important;

    }
   .sidebar_exp  .side-nav {
        overflow-y:auto !important;
       
       
    }
    .btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
        outline: none;}
   .side-nav li  a{
    color: #6f7474 !important;
        font-size:14px !important ;
    }
    .side-nav>li>a {
        width: 250px;
        border-left: 4px solid transparent;
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
        font-family: 'Montserrat', sans-serif;
    }
.side-nav li.active a {
    border-left: 4px solid #76bd1d !important;
    background-color: transparent !important;
}
.side-nav li.active a i, .side-nav li:hover{
    color:  #76bd1d;
}
.side-nav li.active span{
    color:  #76bd1d;
    font-weight: bold;
}
.drop li a:focus .side-nav li a{
    color:  #76bd1d;
}

    .side-nav li a{
        outline: none;
        background-color: transparent !important;
        color: white !important;
        font-size:14px !important
    }
}
.sidebar-clss .side-nav li:hover span{
/*display: inline-block;*/
display: none;

}
.sidebar-clss .side-nav li:hover a {
 border-top-right-radius: 70px;
border-bottom-right-radius: 70px;
}
.sidebar-clss .side-nav li:hover ,.sidebar-clss .side-nav li:hover ul {
 /*border-top-right-radius: 70px;*/
/*border-bottom-right-radius: 70px;*/
}
.sidebar-clss .side-nav li:hover a, .sidebar-clss .side-nav li:hover ul,.sidebar-clss .side-nav li:active ul{
/*background-color: #222;*/
display: block;

}

.sidebar-clss .wd_50   li ul,.sidebar-clss .wd_50   li ul {
display: none;
}
/*.sidebar-clss .side-nav li:hover [aria-expanded="true"], .sidebar-clss .side-nav li:hover ul{
background-color: #222;
display:block;

}*/
/*.drp{
    border-left:3px solid #2c4809;
}*/
.sidebar-clss .side-nav .drp:hover a{

 border-top-right-radius: 30px ;
border-bottom-right-radius: 0px !important;
}
.sidebar-clss .side-nav .drp:hover ul a{

 border-top-right-radius: 0px !important ;
border-bottom-right-radius: 0px !important;
padding-left: 20px;
}

.sidebar-clss .side-nav .drp {
/*     border-top-right-radius: 30px ;
border-bottom-right-radius: 30px ;*/
position: relative;
}
.sidebar-clss .side-nav .drp > a{
width: 50px;
}
.sidebar-clss .sg a{
    text-align: center;
    width: 50px;
}
.sidebar-clss .side-nav .drp:hover ul{
background-color: #222;
  position: absolute;
left: 50px;
top: 10px;
list-style: none;
margin: 0px;
padding: 0px;
display:block !important;
width: 150px;
height: auto !important;

}
.sidebar-clss .side-nav .drp:hover li:last-child:hover a{

     border-bottom-right-radius: 30px !important;
}

/*.sidebar-clss .side-nav .drp:hover ul:last-child{

     border-bottom-right-radius: 30px ;
}*/
/*.sidebar-clss .side-nav li a[aria-expanded="true"] {

display: inline-block;
}*/
/*.sidebar-clss .side-nav li:hover ul.collapse,.sidebar-clss .side-nav li:hover ul.in {
display: block;
background-color: #222;
}*/
/*.sidebar-clss .side-nav li a[aria-expanded="true"] {
     border-top-right-radius: 70px;
border-bottom-right-radius: 70px;
display: inline-block;
}*/
/*.sidebar-clss .side-nav li a[aria-expanded="true"] {
     border-top-right-radius: 70px;
border-bottom-right-radius: 70px;
display: inline-block;
}
.sidebar-clss .side-nav li a[aria-expanded="true"] span {
display: inline-block;
}
.sidebar-clss .wd_50   li ul{
    background-color: #222;

border-bottom-right-radius: 70px;
}*/
.nav_head_logo{
    width: 250px;
            transition: 0.33s ease;
    background-color:  white;
    display: flex;
    justify-content: center;
    border: 1px solid #93cb4c;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);

}
.nav_head_logo img{

    width: 75px;
        margin-top: -11px;
}
.navbar-inverse .navbar-collapse{
        background: #231f20;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);

}
.small-bar{
    width: 50px !important;
}
.pd-l-100{
    padding-left: 100px !important;
}
.pd-l-50{
    padding-left: 50px !important;
}
.side-nav>li>ul {
    padding: 0;
}
#wrapper.sidebar-clss {
    padding-left: 50px ;
        transition: 0.3s ease;
}
.sidebar-clss .side-nav,.sidebar-clss .side-nav .drp .panel{
    width: 50px;
        transition: 0.3s ease;
}
.sidebar-clss .side-nav li  span{
display: none;
    transition: 0.3s ease;
}
/*.sidebar-clss .side-nav li:hover {
top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
}
.sidebar-clss .side-nav li:hover a{
display:block;
}
.sidebar-clss .side-nav li a:after{
display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;
border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;
}*/
.sidebar-clss .side-nav li:hover a:after{
border-left-color:#ffffff;
}
.sidebar-clss .nav_head_logo{
    width: 50px;
        transition: 0.3s ease;
}
.sidebar-clss .nav_head_logo span{
display: none;
    transition: 0.3s ease;
}
.toggle-icon a{
    cursor: pointer;
}
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

/******************************CSS****************************/
.bg-green{
    background: white;
    border-bottom:1px solid #76bd1d;
    font-size:18px;
    text-align:left;

}


.panel{
    border:1px solid rgba(0, 0, 0, 0.08);;
}
.bg-lit{
    background: #c9f099;
}
.bg-table-head{
    background: #7dc625;
}
.btn:focus{
    outline: 0;
}
.btn-primary {
    color: #b0b0b0;
    background-color: white;
    border:1px solid #b0b0b0;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;


}


.btn-red:hover,.btn-danger:hover,.btn-danger:active,.btn-danger:active:hover,.btn-danger:focus{
    background:lightcoral;
    border-color:lightcoral;
    color:white;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
    outline: 0;
}
.btn-red{
    background:lightcoral;
    color: white;
    margin-left:40px;
    border:2px solid #f54e4e;
}
.btn-success:hover,.btn-success:active,.btn-success:active:hover,.btn-success:focus,
.btn-primary:hover,.btn-primary:active,.btn-primary:active:hover,.btn-primary:focus{
    color: white;
background-color: #5aab5a;;
border-color:#5aab5a;;
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.18);
}
 .btn{
     border-radius:9px;
     padding: 5px 11px;
 }
 .btn-success{
    background-color: #5aab5a;;
     color:white;
     border: 2px solid green;
     padding:5px 11px;

 }
.btn-danger{
    color: #b0b0b0;
    background-color:white ;
    border:1px solid #b0b0b0;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;


}


.pagination li a{
    border:transparent;
    background:white;
    color:green;
}
.pagination li a:hover,.pagination li a:active{
    background:#5aab5a;;
    color:white;
    border:transparent;
}
.chk{
    position: relative !important;
    left:-23px !important;
    top:-30px !important;
}
.side-nav li:hover span,.side-nav li:hover i{
    color:  #76bd1d;
}
.dash i{
    position: relative;
    top: 15px;
    left: 20px;
    color:#76bd1d;
    font-size:35px;
}
.check input[type="checkbox"]{
    margin:0px;
    left: -10px ;
}
.check input[type="radio"]{
    top: 3px;
    left:-7px;
position:relative;
}
.bg-white{
    background:white;
    border-radius:10px;
    box-shadow: 0 2px 0 rgba(90,97,105,.11),0 4px 8px rgba(90,97,105,.12),0 10px 10px rgba(90,97,105,.06),0 7px 70px rgba(90,97,105,.1);
    color:black;

}
.pagination .active a,.pagination .active a:hover,.pagination .active a:active,.pagination .active a:visited{
    background:#5aab5a;
}
.form-control:focus{
    border-color: #76bd1d;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(89, 179, 29);
}
.panel-radius{
    border-radius: 10px;
    box-shadow: 0 2px 0 rgba(5, 24, 45, 0.1),0 4px 8px rgba(9, 31, 57, 0.1),0 10px 10px rgba(15, 40, 69, 0.1),0 7px 70px rgba(5, 21, 42, 0.1);

}
.bg-white h4{
    border-bottom:1px solid #76bd1d;
    padding-bottom:15px;

}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }

}
/**********************************************************************/
                /*THEME1*/
/*********************************************************************/
.theme1 .bg-white{
    background: #c9e4a7;
}
.theme1 .side-nav{
    background:#414e9a;
}
.theme1 .side-nav li a{
    color:white !important;
}
.theme1 .side-nav li a:hover{
    color:lightcoral !important;
}
.theme1 .nav_head_logo{
    background: #c9e4a7;
}
.theme1 .drp{
    background-color: #414e9a;
}
.theme1 .navbar-inverse .navbar-collapse{
    background: #414e9a !important;
}
.theme1 .sidebar-clss .side-nav .drp:hover ul{
    background: #414e9a !important;
}
.theme1 .icon_color_size .lnr,.theme1 .icon-settings,.theme1 .icon-logout,.theme1 .user_text{
    color:white !important;
}
.theme1 .table-green{
    
        color: white;
        background-color: #5c6abd;
}
/************************************************************/
            /****THEME2**/
/*********************************************************/

.theme2 .bg-white{
    background: #c9e4a7;
}
.theme2 .side-nav li.active span,.theme2 .side-nav li.active i{
    color:green;
}
.theme2 .icon_color_size .lnr,.theme2 .icon-settings,.theme2 .icon-logout,.theme2 .user_text{
    color:white !important;
}
.theme2 .side-nav{
    background:lightcoral;
}
.theme2 .side-nav li a{
    color:white !important;
}
.theme2 .table-green {
    color: white;
    background-color: #f17c7c;
}
.theme2 .side-nav li a:hover{
    color:#414e9a !important;
}
.theme2 .nav_head_logo{
    background: #c9e4a7;
}
.theme2 .drp{
    background-color: lightcoral;
}
.theme2 .navbar-inverse .navbar-collapse{
    background: lightcoral !important;
}
.theme2 .sidebar-clss .side-nav .drp:hover ul{
    background: lightcoral !important;
}

/**********************************************/
            /*IMAGE*/
/*********************************************/
.theme4 .side-nav{
    background:linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.6)), url(../img/building.jpg);
    background-repeat: no-repeat;
    background-position: center;
background-size: 750%;
transform: none;
transition: none;
}
.theme4 .navbar-inverse .navbar-collapse,.theme4  .navbar-inverse.navbar-fixed-top {
  background:linear-gradient(  120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.6));
}
.theme4 .navbar-inverse .top-nav .icon_color_size .lnr,.theme4 .navbar-inverse .navbar-right .icon_color_size .lnr{
  color:#333!important;  font-weight:900;  text-shadow: 0 0 1px #fff;
}
.theme4 .navbar-inverse .navbar-right .user_text{
  color:#fff!important;  text-shadow: 0 0 1px #000;
}
.theme4 .sidebar-clss .side-nav{
  background:linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.6));
}
.theme4 .drp{
    background-color: transparent;
}
.theme4 .side-nav li i{
    color:#333 !important;
    fill:#333;font-weight:900;
    text-shadow: 0 0 1px #fff;
}
.theme4 .side-nav li a{
    color:#fff !important;
    font-weight:900;
    text-shadow: 0 0 1px #000;
}
.theme4 .side-nav li:hover a, .theme4 .side-nav li:hover span{
      text-shadow: 0 0 0px #000;
}
.theme4 .side-nav li a:hover,.theme4 .side-nav li a:active{
    color:green !important;
    text-shadow: 0 0 0px #000;
}
.theme4 .side-nav li.active span,.theme4 .side-nav li.active a i{
    color:green !important;
      text-shadow: 0 0 0px #000;
}
.theme4 .sidebar-clss .side-nav .drp:hover ul{
    background: linear-gradient( 120deg ,rgba(0, 219, 255, 0.4), rgba(165, 192, 75, 0.6));
}
.theme4 .sidebar-clss .side-nav .drp a{
    color:green !important;
}
/****************************RESPONSIVE********************/
@media screen and (min-width: 769px) and (max-width:1090px){
    .sidebar_exp .side-nav{
        position: absolute;

    }


    
    
    #page-wrapper{

    }
    .bg-white{
        margin-top:10px;
    }
    .pull-right{
        /*float: left !important;*/
    }
    .check input[type="radio"]{
        top: 3px;
        left:0px;
    position:relative;
    }
}

/*********************MEDIA QUERY FOR MOBILE*****************/
@media only screen and (min-width :320px) and (max-width : 480px){
    
    .drp{
        background: white;
    }
    .login {
        margin: 4.9% 0%;
    }
    .log{
        background-size: initial;
    }
   
    .padd-20{
        padding:20px;
    }
    .main-status{
        margin: 10px 0px;
    }
    .drp:hover span,.drp:hover i{
        color:green;
    }
    .md-p-15 h4 {
  
      padding-top: 15px;
          padding-left: 15px;
  
    }
    .selectionpop .fancymodal-content {
        max-width: 89% !important;
      
        left: 0px;
        height: 240px;
        overflow: auto;}
        .fancymodal {
            padding-top: 30px !important; }
    .navigate {
      
        margin-bottom: 0px;
    }
    .pull-right{
        /* float: left !important; */
    }
  .nav_head_logo{
  
      width: 100%;
      display: block;
      box-shadow: none;
  }
  .sidebar_exp .lnr-chevron-down{
      right: 10px;
  top: 15px;
  }
  .icon_color_size .lnr{
      right: -2px;
  
  }
  .navbar.navbar-inverse{
      background: #fff;
      /*box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);*/
  }
  .icon_color_size .lnr{
      color:#7dc625 !important;
  }
  .user_text{
      color:#333;
  }
  .top-nav{
      text-align: center;
  display: flex;
  justify-content: center;
  }
  .lnr-user{
      font-size: 16px !important;
  }
  .navbar-inverse .navbar-toggle .icon-bar{
      background: #333;
  }
  .navbar-inverse .navbar-toggle,.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover{
      border-color: transparent;
      background: transparent;
  }
  .navbar-inverse .navbar-collapse{
      background: #fff;
  }
  
  .side-nav li.active a{
      border-left: 4px solid #76bd1d !important;
      background-color: transparent !important;
  }
  .side-nav li.active a i{
      color:  green;
  }
  .side-nav li.active span{
      color: green;
  }
  .navbar-inverse .navbar-collapse{
      border-color: #ddd !important;
      box-shadow: none !important;
  }
  .navbar-inverse .navbar-nav > li > a:focus, .navbar-inverse .navbar-nav > li > a:hover{
      color: white !important;
  }
  .drp ul  a:hover {
      color:  green !important;
  }
  .margin-bottom-2{
    margin-bottom: 10px;
  }
  }
@media only screen and (min-width :320px) and (max-width : 767px){

 .login_mobile_img{
        margin-top: 15px;
    }





}
@media only screen and (min-width :1024px){


}
@media only screen and (min-width :768px) and (max-width : 1024px){

 .tab-mr-b-10{
    margin-bottom: 10px;
 }

}

  @media screen and (min-width: 1024px) and (max-width:2000px){
    .login {
        margin: 4.9% 36%;
    }
    .breadcrumbss{
        /*margin-right: 17px;*/
    }
    .md-pl-100 {
        padding-left: 15% !important;
    }
  }

  /* ================================================================================================== */



  .activity {
      position: relative;
      margin: 0 0 30px 0;
      padding: 0;
      list-style: none;
  }

  .activity>li {
      position: relative;
      margin-right: 10px;
      margin-bottom: 15px;
      margin-top: 25px;
  }

  .activity>.time-label>span {
      font-weight: 600;
      padding: 5px;
      display: inline-block;
      background-color: #00a65a;
      border-radius: 4px;
      color: #fff;

  }

  .activity-inverse>li>.activity-item {
      background: #f0f0f0;
      border: 1px solid #ddd;
      -webkit-box-shadow: none;
      box-shadow: none;
  }

  .activity>li>.activity-item {
      -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      margin-top: 0;
      background: #fff;
      color: #444;
      margin-left: 60px;
      margin-right: 15px;
      padding: 0;
      position: relative;
      background-color: #f2f2f2;
  }

  .activity>li>.activity-item>.time {
      color: #999;
      float: right;
      padding: 10px;
      font-size: 12px;
  }

  .activity-inverse>li>.activity-item>.activity-header {
      border-bottom-color: #ddd;
  }

  .activity>li>.activity-item>.activity-header {
      margin: 0;
      color: #555;
      border-bottom: 1px solid #ddd;
      border-bottom-color: #ddd;
      padding: 10px;
      font-size: 16px;
      line-height: 1.1;
  }

  .activity::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 4px;
      background: #ddd;
      left: 31px;
      margin: 0;
      border-radius: 2px;
  }

  .activity>li>.fa,
  .activity>li>.glyphicon,
  .activity>li>.ion {
      width: 30px;
      height: 30px;
      font-size: 15px;
      line-height: 30px;
      position: absolute;
      color: #fff;
      background-color: #0073b7;
      border-radius: 50%;
      text-align: center;
      left: 18px;
      top: 0;
  }

  .activity-body {
      padding: 10px;
  }