/***********NAV BAR**************/
.navbar{
    position: absolute;
    z-index: 1;
    width:100%;
}
.nav li a{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    margin-top:30px;
}
.nav li a:hover,.nav li a:active,.nav li a:focus{
    background:transparent;
    color:#18d26e;
}
.navbar-brand{
    color:white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
   
}
.navbar-brand:hover{
    color:white;
}
.navbar-brand h2{
    margin-left: 60px;
    border-left:5px solid #18d26e;
    padding: 0px 8px;
    font-size:36px;
}
.contant{
    top:200px;
}
.slide{
    height:670px;
    overflow: hidden;
}
.fa-icon{
    font-size:50px;
    color:#18d26e;
}
.con{
    background: black;
    color:white;
    padding:20px 25px;
    font-family: "Montserrat", sans-serif;
}
.con-a{
    background-image: linear-gradient(0deg, #000000 0%, #242323 50%, #000000 100%);
}
.con h4:hover, .icon-a h4:hover{
    color:#18d26e;
}
/***************ABOUT**********************/
.about{
    background: url(../img/bg1.jpg);
    background-size:cover;
    background-attachment: fixed;
    height:700px;
}
.abt-overlay{
    background:white;
    height:700px;
    background: rgba(255, 255, 255, 0.92);
    opacity:0.9;
    padding:50px 0px;
}
.clr{
    padding:30px 25px;
    
}
.about-icon{
    font-size:30px;
    background: #18d26e;
    padding:10px;
    color:white;
    border-radius: 50px;
    border:5px solid white;
    position: absolute;
    top:180px;
    left: 150px;
}
.box{
    background: white;
    box-shadow: 0 1px 1px rgba(0,0,0);
    width:350px;
    margin-left:30px;
    height:440px;
}
.about-icon:hover, .about-icon1:hover{
    color: #18d26e;
    background: white;
}
.about-icon1{
    font-size:30px;
    background: #18d26e;
    padding:10px 17px;
    color:white;
    border-radius: 50px;
    border:5px solid white;
    position: absolute;
    top:180px;
    left: 150px;
}
/********************OUR SKILLS*****************/
.skills{
    background: url('../img/bg2.jpg');
    background-size:cover;
    background-attachment: fixed;
}
/*****************SERVICE*******************/
.ser-icon{
    color:#18d26e;
    font-size:35px;
    margin:12px 0px 20px 10px;
}
.prog{
    height:30px;
}

/*******************PORTFOLIO*************/
.portfolio{
    background: url('../img/bg3.jpg');
    background-size:cover;
    background-attachment: fixed;
    height:600px;
}
.port-overlay{
    background:white;
    height:600px;
}
.hgreen{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 48px;
    display: block;
    color: #18d26e;
}
.hpara{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #111;
    font-weight: 400;
}

/****************************/
.p-tb-50{
    padding:50px 0px;
}
.m-t-10{
    margin-top:25px;
}
.p-t-40{
    padding-top:40px;
}
.head{
    color:white;
    font-family: "Montserrat", sans-serif;
    font-size:36px;
    font-weight:700;
}
.para{
    font-family: "Open Sans", sans-serif;
    font-weight:400;
    font-size:16px;
    color:white;
    margin:30px 0px;
}
.btn-light{
    padding:7px 40px;
    color:white;
    background:#18d26e;
    font-size: 18px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
}
.btn-light:hover{
    color:#18d26e;
    background:white;
}
.sec-head{
    font-size: 32px;
    color: #111;
    font-family: "Montserrat", sans-serif;
}
.sec-para{
   font-size: 16px;
   font-weight: 400;
   line-height: 1.5;
   font-family: "Open Sans", sans-serif;

}
.sub-sec-head{
    font-size: 20px;
    color: #111;
    font-family: "Montserrat", sans-serif;
}
.sub-sec-para{
    font-size: 14px;
    line-height: 24px;
    color: #333;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.btn-trans{
    padding:7px 40px;
    color:white;
    background:transparent;
    font-size: 18px;
    border-radius:30px;
    font-family: "Montserrat", sans-serif;
    border:2px solid white;
}
.btn-trans:hover{
    background:#18d26e;
    border:2px solid #18d26e;
    color:white;
}
.sec-head-white{
    color: #fff;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
}
.sec-para-white{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
    color:white;
    padding:20px 0px;
 }