body{
	background-color: #edf1f5;

}
.home li{
	
	list-style-type: none;
	display: inline-block;
	float:right;
		padding: 10px;
		margin-right: 10px;
}
.header{
	padding: 15px;
		margin-left:5 px;
		display: inline-block;
	
}
.row{
	margin-right: 0px;
	margin-left: 0px;
}

.clr {
	color:#03a9f3;
}
 .btn_prime:hover{
	color: #fff;
    background-color: #0e81b4;
}
.btn_prime{
	margin-right:30px;
	margin-left: 10px;
}
.btn{
	 background-color:#03a9f3;
	color:white;
}

.gallery{
	font-size: 16px;
	padding:5px;
}
.clr1{
color: #00c292;
	
	padding:2px;
	margin-right:5px;
}
.list_1{
	list-style-type: none;
	padding:7px;
	
}
.list_1 li{
	color:white;

}
.content{
	
	padding:2px;
}

.lists{
list-style-type: none;
padding:16px;
}
.lists2{
float:right;
}

.room{
	padding-left: 25px;
}
.llls{
	float:right;
}
.second li{
	padding:10px;
	list-style-type: none;
}
.lists3{
	padding:20px;
	list-style-type: none;
}
.imagg{
	
	background-color: #f8f9fa;
	padding:20px;
	box-sizing: border-box;
	height:200px; 
	width:100%;  

	
}
.img_a
{
	width:18%;
	height:100px;
	vertical-align: center;
}
.aaaa{
	width:80%;
	height:200px;
	margin: 20px 0;
}
.card-body1{
	text-align: center;
	box-sizing: border-box;
	background-color: white;
}
.formm{
	padding-top: 0px;
}
.tables tbody tr td{
	padding:21px;
	
}
.text1{

	margin-left: 10px;
	width:90%;
}
.inf{
	padding:40px;
}
.heading{
	padding-left: 30px;
}

.num{
	text-align: center;
}
.btn-texx{
	background-color: #fa6f46 ;
	color:white;
	padding:5px;
	border-radius: 100px;
	float:right;
	margin-right: 20px;
	border-color:#fa6f46 transparent ;
	font-size: 15px; 
}
.text-01{
	margin-top: 10px;
}
.text_1{
	margin-left: 80px;
}
.text_11{
	margin-left: 50px;
}
.fff1{
	padding:10px;
}
.fff{
	padding-right:20px;
	padding-left: 20px;
}
.btn-dpd{
	margin-left:20px;
	text-align: center;

}
.btn_property{
	background-color:#00c292; 
	color:white;
	border-radius:5px;
	margin-left:5px;
	padding:7px;
}
.btn_property:hover{
	background-color: #008f6c; 

color:white;
}
.btn_property1{
	background-color: black;
	color:white;
	border-radius:5px;
	margin-left:15px;
	padding:7px;
}
.footer_1{
	padding:15px;
}
.btn_model{
	padding:10px;
}
.headd{
	padding:10px;
	 margin-left: 20px;
}
.rad{
	padding:5px;
	 margin-left: 30px;
}
.ques{
	padding:20px;
	font-size: 18px;
	font-family: Poppins,sans-serif;
}
.para{
	padding:15px;
	font-size: 16px;
	font-family: Poppins,sans-serif;
	line-height: 1.5;
}
.head_body{
	padding:35px;

}
.ques:hover{
	color:#fb9678;
}
.faq{
	padding:20px;
	margin-left: 20px;
}
.clrr{
		color:#e46a76;
}
.hhh{
	margin-left: 20px;
	border:1px solid #f8f9fa ;
	box-sizing: border-box;
	background-color: #f7f7f7;
	padding:10px;
	margin-right: 20px;
	
}
.hhh1{
	margin-left: 20px;
		padding:10px;

}

.para1{
	padding:15px;
	font-size: 16px;
	font-family: Poppins,sans-serif;
	line-height: 1.5;
}
.secc{
	
	padding:10px;

}
.footer_2{
	padding:20px;
	margin-left: 10px;
}
.head_home1{
padding-bottom: 20px;
}
.ticket{
	
	border:1px solid #03a9f3;
	border-radius: 3px;
	background-color: #03a9f3;
	color:white;
	text-align: center;
	

}
.ticket1{
	
	border:1px solid #fb9678;
	border-radius: 3px;
	background-color: #fb9678;
	color:white;
	text-align: center;
	
}
.ticket2{
	
	border:1px solid #00c292;
	border-radius: 3px;
	background-color: #00c292;
	color:white;
	text-align: center;
	
}
.ticket3{
	
	border:1px solid #343a40;
	border-radius: 3px;
	background-color: #343a40;
	color:white;
	text-align: center;
	
	   
}
.tickets{
	    
margin-left: 20px;
	padding-top:20px; 



}
.tick{
	margin-right: 20px;
}
.heads{
	margin-left: 30px;
}
.img_7{
	width:30px;
	height:auto;
	border-radius: 100%
}
.labl{
	background-color: #00c292;
	    padding: 5px 12px;
    line-height: 15px;
    color: #fff;
        font-size: 75%;
        border-radius: 3px;
}
.labl1{
	background-color: #343a40;
	color: white;
	padding: 5px 12px;
    line-height: 15px;
    font-size: 75%;
        border-radius: 3px;
}
.labl2{
	background-color: #fec107;
	color: white;
	padding: 5px 12px;
    line-height: 15px;
    font-size: 75%;
        border-radius: 3px;
}
.addbt{
	color: #fff;
    background-color:#03a9f3;
   
        border-radius: 60px;
    padding: 7px 18px;
    margin-left: 20px;
}


.page1{
	float:right;
	margin-right: 20px;
	    margin-top: 1px;
}

.tabl{
	padding:10px;
	margin-top: 10px;
	margin-left: 29px;
	width:97%;
}
.trows{
	padding:1rem;

}
.table td{
	padding: 20px;
	box-sizing: border-box;
}
.pricingbox{
	text-align: center;
	padding-bottom: 40px;
	margin-bottom: 40px;
	
}
.pricing{
	text-align: center;
	padding:25px;
	font-size: 18px;
	
}
.pricecontent{
	padding: 0px;
}
.prrow{

padding: 25px 0;
line-height: 5px;
text-align: center;
font-size: 15px;
	border-top:1px solid rgba(120, 130, 140, 0.13);
	

}
.sise{
	font-size: 70px;
}
.icon{
	margin-right: 5px;
	padding: 5px;
}
.button{
	padding:10px;
	background-color: #00c292;
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;

}
.buttons{
	
	padding:30px;
}
.hrr{
	border:3px solid lightgray;
}

.button:hover{
	background-color: #008f6c;
	color: white;
}
.btns{
	background-color: #03a9f3;
	
	color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;

}
.btns:hover{
	background-color: #0286c1;
	color: white;
}
.pricing-box1{
	text-align: center;
	background-color:   #f8f9fa;
	position:relative;
	margin-top: -43px;
	margin-bottom: 40px;

	

}
.priss{
	padding-top: 25px;
}
.box{
	background-color: #fec107;
	color: white;
	
	text-align: center;
	padding: 8px;
	display: inline;
	position:relative;
	padding-bottom: 6px;
margin-right: 10px;

}
.pricecontent1{
	padding-top: 0px;

}
.pricing1{
	text-align: center;
	padding:25px;
	font-size: 18px;
	padding-top: 48px;

}
.prrow1{

padding: 25px 0;
line-height: 5px;
text-align: center;
font-size: 15px;
	border-top:1px solid rgba(120, 130, 140, 0.13);
	

}

.last{
	padding:30px;
}
.last1{
	padding:50px;
	margin-left:10px;
	
	   
    margin-left: -30px;
    
    margin-right: -13px;
}


@media screen and (max-width: 767px) and (min-width: 320px) {

.content1{
	padding-right:0px;
	padding-left: 0px;
	font-size:10px;
}
.text1{
	margin-left:10px;
}
.pagination>li a{
	    padding: 3px;

}
.ticket,.ticket1,.ticket2,.ticket3{
	    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}


.home li,.pages{
padding:0px;
margin:0px;
display:flex;
    margin-left: -10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.btn_prime{
	display:none;
}


.last1 {
    padding: 9px;
    margin-left: 10px;
    margin-left: -14px;
    margin-right: -13px;
}
.proper{
	padding:20px;
}
h5{
	    margin-right: 11px;

}
 .col-sm-4, .col-xs-8, .mls{
	padding-left:0px;
	padding-right:0px;

}

.home{
	    margin-top: 0;
    margin-bottom: 10px;
    margin-right: 78px;
    list-style-type: none;
}






@media screen and (max-width: 1024px) and (min-width: 768px){
	.ticket,.ticket1,.ticket2,.ticket3{
	    margin-right: 5px;
    margin-left: -5px;
    margin-bottom: 20px;
}
.btn_prime{
	display:none;
}
.home li,.pages{
padding:0px;
margin:0px;
display:inline;
    margin-left: -10px;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
.tickets {
    padding-bottom: 10px;
    margin-left: 19px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.col-sm-6 {
    width: 45%;
    }
    .ticket3,.ticket, .ticket1,.ticket2{
        margin-right: 39px;
    
    margin-left: -5px;
    margin-bottom: 20px;


}

.tables tbody tr td {
	padding:5px;

}
h5{
	margin-right: 19px;
	    margin-top: 3px;
    margin-bottom: 0px;
}
.col-sm-6 h4{
	margin-top:-13px;

}
.head_home{
	padding:10px;
}



}
@media screen and (max-width: 1400px) and (min-width: 900px){
	.ticket, .ticket1, .ticket2{
		width:21%;
		margin-left: 10px;

	}
	
}









