


/*******************HOME*******************/
.navigation{
	background: white;
	margin:30px 80px;
	position: absolute;
	border-radius: 5px;
}
.navigate{
	margin-right: 50px;
}
.navigate li a{
	color: #777;
	font-weight: 300;
	font-family:robo-medium, sans-serif;
}
.navigate li a:hover{
	color: #6000ff;
}
.cont_1{
	margin-top: 200px;
	color: white;
}
.cont_1 p{
	font-size: 20px;
	line-height: 1.5;
}
.head-img{
	margin-top: 94px;
	margin-left: 150px;
	position: relative;
 	z-index: 1
}
.home{
	background: url('img/main-bg.jpg');
	background-size: cover;
	margin: 0px;
}
.contant{
	background: rgba(96,1,255,0.65);
	margin: 0px;
}
.btn-clr{
	font-size:14px;
	color: white;
	background: #6000ff; 
	padding:10px 30px;
	border-radius: 30px;
	font-weight: bold;
	margin-top: 25px;
}
/************Video***********************/
.video{
	background: url('img/video-bg.jpg');
	background-size: cover;
	width:100%;
	height:300px;
	background-attachment: fixed;
}
.video-contant{
	background: rgba(96, 1, 255,0.65);
	height:300px;

}
.right{
	background: url('img/counter-bg.jpg');
	background-size: cover;
	width:100%;
	height:350px;
	position: relative;
	background-attachment: fixed;
}
.right-contant{
	background: rgba(96, 1, 255,0.3);
	height:350px;
		
}
.custom{
	background: url('img/counter-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.test{
	background: rgba(15,15,15,.95);
}
.head_small{
	color:#6000ff;
	font-family:robo-medium, sans-serif;
}
.head_small-white{
	color:white;
	font-family:robo-medium, sans-serif;
	margin-top:120px;
}
.hd-white{
	color:white;
	font-family:robo-medium, sans-serif;	
}

.padd_tb_80{
	padding-top: 80px;
	padding-bottom: 80px;
}
.icon_align{
	font-size: 40px;
	color: #6000ff;
	background: rgba(96,1,255,0.05);
	padding:30px;
	border-radius: 50px;
}
.mar{
	margin-top:20px;
}
.mar_x{
	margin-left: 10px;
}

/***********************OFFER***********************/
.fa-app{
	font-size: 30px;
	padding:35px 35px;
	background:#6000ff;
	color: white;
	border-radius: 60px;
	box-shadow: 0 7px 25px rgba(96,1,255,0.4);
}
.service-img{
	margin-left:130px;
}
.advantages{
	background:#edf1f4;
}
.place{
	margin:0px 200px;
	padding:40px 0px;
	position: relative;
	top:-80px;
	border-radius:5px;
	background: #fff;
	box-shadow: 0px 0px 40px rgba(96,1,255,0.3);
}
.place h1{
	color:#6000ff;
}
/*****************SERVICES**************/
.access{
	padding-bottom:80px;
}
.acc-method{
	padding:40px;
	width:280px;
	font-size: 16px;
	font-family:robo-medium, sans-serif;
	line-height: 1.7;
}
.acc-method:hover{
	 box-shadow: 0 7px 25px rgba(250, 253, 253, 0.4);
}
.fa_tick{
	color:#6000ff;
	font-size :15px;
	padding:2px;
	margin-right:10px;
	border:2px solid #6000ff;
	border-radius:15px;
}
.contat p{
	line-height: 3;
	font-size: 14px;
	font-family:robo-medium, sans-serif;
}
/************CONTACT************/
.frm{
	background: white;
}