body{
    font-family: 'Ubuntu', sans-serif;
}
@font-face{
    font-family: 'Ubuntu';
    src:url('../font/Ubuntu-L.ttf') format('truetype');
    }
.header{
    background:#f2f2f2;
    line-height: 90px;
}
.header h5{
    margin-top:30px;
    font-size:20px;
}
.socialMedia{
    float:right;
    margin:0;
    padding:0;
}
.socialMedia li{
    display: inline-block;
    margin-right: 25px;
}
.socialMedia li a, .site{
    color: black;
    text-decoration: none;
}
.socialMedia li a:hover, .site:hover{
    color:#bdbbbb;
    text-decoration: none;
}
.nav-as{
    background:white
}
.navigate{
    background: transparent;
    border-radius: 0px;
    
}

.navigate li a{
    padding-top: 30px;
    padding-bottom: 30px;

}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 30px 30px;
    font-size: 25px;
    line-height: 20px;
    color:#b6795f;
}
.nav li a{
    color:#b6795f;
    font-size:14px;
    text-transform: uppercase;
   
}


.nav li a:hover,.nav li a:active,.nav li a:focus{
   background:transparent;
}
.navigate .navbar-nav > li > a:hover::after, .navigate .navbar-nav > li > a:focus::after, .navigate .navbar-nav > li.active > a::after, .navigate .navbar-nav > li.active > a:focus::after, .navigate .navbar-nav > li.active > a:hover::after, .navigate .nav.navbar-nav li > a:hover::after {
    position: absolute;
    bottom: 10px;
    left: 0;
    height: 2px;
    width: 18px;
    right: 0;
    margin: 0 auto;
    background-color: #b6795f;
    content: "";
}
/**********************Slide********************/
.carousel-caption{
    top:100px !important;
    bottom:0 !important;
}
.slide-p {
    font-size: 18px;
    padding: 5px 100px;
    line-height: 30px;
}
.mb-90{
    margin-bottom:90px;
}
.dec-title{
    position: absolute;
    left: 30px;
    z-index: 2;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    top:20px
}
.overlay-sec {
    opacity: 0.8;
    width: 40px;
    top:20px;
    height: 50px;
    position: absolute;
    left: 25px;
    transition: all 0.5s ease-in-out;
    
}
.bg-blue{
    background-color: #84deee;
}
.bg-maroon{
    background-color: #df8888;
}
.bg-yellow{
    background-color: #e3c56b;
}
.mtb-15{
    margin-top:15px;
    margin-bottom:15px;
}
/***********/
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:all 0.5s ease-in-out;

  }
  
  .overlay1:hover .overlay-sec {
    opacity: 0.8;
    width: 96%;
    top:0;
    height: 95%;
    position: absolute;
    left: 0px;
    transition: all 0.5s ease-in-out;
    margin:15px;
    padding:15px;
  }
  .overlay1:hover .dec-title{
    position: absolute;
    left: 90px;
    z-index: 2;
    font-size: 36px;
    text-transform: uppercase;
    margin: 0;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    top:130px
}

.seperator {
    margin-bottom: 50px;
}
.seperator p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
    margin-bottom: 0;
} 

.item-tabs .nav .nav-pills{
   
}
.item-tabs .nav.nav-pills li.active a {
    
}
  
 /***********NEW COLLECTIONS***********/
 .collection ul{

 }
 .collection li{
    text-align: center;
    
    width: 100%;
   display: inline;
 
 }
 .collection li a{
    color: #ffdc73;
    text-decoration:none;
    font-size:16px;
    padding: 20px 40px;
 }
 .collection li a:active,.collection li a:hover{
     border-top: 2px solid #ffdc73;
     border-bottom: 2px solid #ffdc73;
 }
 .new{
     font-size: 40px;
     text-transform: uppercase;
     transform: rotate(270deg);
     margin-top:400px;
     color:#ffdc73;
 } 
 .new1{
    font-size: 40px;
    text-transform: uppercase;
    transform: rotate(90deg);
    margin-top:330px;
    color:#ffdc73;
}