@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 360px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
body {
  background: #76b852; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
.login_bg{
background-color: #ccd0d4;
background: -webkit-radial-gradient(center, ellipse cover, rgba(160,175,185,1) 0%,rgba(0,0,0,1) 100%) no-repeat;
background: -moz-radial-gradient(center, ellipse cover, rgba(160,175,185,1) 0%,rgba(0,0,0,1) 100%) no-repeat;
    background-attachment: scroll;
background-attachment: scroll;
background: -o-radial-gradient(center, ellipse cover, rgba(160,175,185,1) 0%,rgba(0,0,0,1) 100%) no-repeat;
background: -ms-radial-gradient(center, ellipse cover, rgba(160,175,185,1) 0%,rgba(0,0,0,1) 100%) no-repeat;
background: radial-gradient(center, ellipse cover, rgba(160,175,185,1) 0%,rgba(0,0,0,1) 100%) no-repeat;
background-attachment: fixed;
height: 100vh;
}

/***********************************ASHWINI CSS*******************/
 input[type="text"],input[type="password"]{
  border:none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid #7c009b;
  border-radius:0px;
  box-sizing: none;
  box-shadow: none;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  -moz-transition:  all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #7c009b 4%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: -600px 0;
}
input[type="text"]:active,
input[type="password"]:active,input[type="password"]:focus{
  border-bottom: 1px solid #7c009b;
  box-sizing: none;
  box-shadow: none;
}
input[type="text"]:focus,input[type="password"]:focus{
  background-position:0;
  border-bottom: 1px solid #7c009b;
  box-sizing: none;
  box-shadow: none;
}
.frm{
  margin:40px;
}
.btn-log{
  background: #ECECEC;
  border-radius: 4px;
  padding: 7px 30px;
  display: block;
  font-family: arial;
  font-weight: bold;
  color: #7f7f7f;
  text-decoration: none;
  text-shadow: 0px 1px 0px #fff;
  border: 1px solid #a7a7a7;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  margin:0 auto;
}
.forget a{
  color: #555;
  text-decoration: none;
}
.forget a:hover{
  text-decoration: none;
  color: #72afd2;
}
.log-img{
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  padding: 8px;
  margin: 0 auto;
  top:50px;
  position: absolute;
  left:140px;
}
.log-img1{
  box-shadow: inset 0px -1px 4px 1px rgba(0,0,0,0.4), inset 0px 2px 15px 3px rgba(255,255,255, 1.0), 2px 2px 1px rgba(0,0,0,0.1);
  padding: 8px;
  margin: 0 auto;
  top:120px;
  position: absolute;
  left:140px;
}
.line::before{
  content:"__________________";
  color:lightgrey;

}
.line::after{
  content:"__________________";
  color:lightgrey;
  margin-left:70px;

}
.title-head,.title-head a:hover{
  font-weight: 550;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  padding:20px 10px;
  text-decoration:none;
}
.icon-log{
  margin: 0px 10px;
  font-size: 10px;
  color:grey;
}
.icon-refresh{
  position: absolute;
  color:grey;
  left:270px;
  top:290px;
}
.icon-refresh1{
  position: absolute;
  color:grey;
  left:270px;
  top:350px;
}
.title-head a:active,.title-head a:visited{
  padding:8px 10px;
  font-weight: 550;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  text-decoration: none;
}
/************************MEDIA QUERIEY*******************/
@media screen and (min-width: 360px) and (max-width: 480px){
  
}
/*******************************************************/
                  /*FORGET PASSWORD*/
/*******************************************************/
.fa-ref{
  position: relative;
  top:-25px;
}
.log-for{
  margin-top:10px;
}
.line-img{
  padding-top: 26px;
margin: 0 auto;
}