<!DOCTYPE html>
<html>
 <head>
                
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="ng-storage.js"></script>               
</head>
<body>
       
<div ng-app="myApp" ng-controller="myCtrl">
        
         
 <form name="myForm">
<label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input type="email"  ng-model="customer.mail" placeholder="john@suhr.com" required>
</label>
<label class="item item-input item-stacked-label">
       <span class="input-label">Password</span>
       <input type="password"  ng-model="customer.password" placeholder="*********" required>
 </label>
<button ng-disabled= "!myForm.$valid" class="button button-block button-positive" ng-click="save()">Save</button>
<button ng-disabled= "!myForm.$valid" class="button button-block button-positive" ng-click="load()">Load</button>
</form>  
{{customer}}

<script src="bing-login.js"></script>   
     
</body>
</html>