body {
	position: relative; 
}

.navigate{

	padding-top:50px;
}
.navas a{
	color:white;
}
.nav > li > a:hover ,.nav > li > a:active ,.nav > li > a:focus {
	background: transparent;
}
.top{
	visibility: hidden;
	font-family: "Montserrat", sans-serif;
	font-size:16px;
}
.active{
	transition: top .1s ease .1s, opacity .1s ease .1s;
	visibility:visible;
	

}
/***********************HOME****************/
.home{
	background: url('../img/bg1.jpg');
	background-size: cover;
	position:relative;
	background-position: 50%;
	width:100%;
	height:670px;
	background-attachment: fixed;

}
.home-overlay{
	background: linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
	width:100%;
	height:100%;

}
.head-app{
	margin-top:70px;
	color: white;
	
	
}
.head-app h1{
	font-size: 40px;
	line-height: 1.2em;
	margin: 25px 0;
	font-family: "Montserrat", sans-serif;
}
.head-app p{
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.125em;
	line-height: 1.3em;
	margin-bottom: 25px;
}
.head-btn{
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	padding: 15px 35px;
	margin: 10px;
	border-radius: 4px;
	font-size: 1.125em;
	font-weight: 700;
}
.head-btn a,.head-btn a:hover{
	color:white;
}
.head-btn:hover{
	background-color: #4798d9;
}
/******************FEATURES**************/
.feature_a{
	background:#f2faff;
}
.feature_b{
	background: #e5eff6;;
}
.icon_a{
	color:grey;
	font-size: 45px;
	padding:22px 30px;
	border-radius:55px;
	border:5px solid #f2faff;
	background: #f2faff;
}
.icon_a:hover,.icon_f:hover{
	color: white;
	background: linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
}
.small-head{
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	color: #5b7182;
	line-height: 26px;
	margin-top:10px;
}
.icon_f{
	padding:25px;
	border-radius:50px;
	font-size:20px;
	background:#f2faff;
	color:grey;
	
	border: 3px solid #f2faff
}
.align-icon{
	background: linear-gradient(90deg,rgba(181, 39,255,0.85)0, rgba(83, 179, 249, 0.85) 100%);
	padding:4px;
	position: relative;
	margin-top:30px;
	border-radius:70px;
	
}
.m-l-20{
	margin-left:20px;
}
.m-r-20{
	margin-right: 20px;
}
.icon_f:hover{
	
	background:linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
}
.ali-icon{
	background: #5b7182;
	padding:27px 0px;
	width:120px;
	margin-left:120px !important;
	border-radius:90px;
	background:linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
}
.ali-icon1{
	background: #5b7182;
	padding:27px 0px;
	width:122px;
	margin-left:120px !important;
	border-radius:90px;
	background:linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
}
/***************DOWNLOADS*******************/
.download{
	background: url('../img/bg2.jpg');
	background-size: cover;
	position:relative;
	z-index: -1;
	width:100%;
	height:450px;
	background-attachment: fixed;
	
}
.screenshot-back{
	background: url('../img/bg3.jpg');
	background-size: cover;
	position:relative;
	z-index: -1;
	width:100%;
	height:450px;
	background-attachment: fixed;

}
.down{
	margin:100px 200px;
}
.app{
	font-size:50px;
}
.app-btn{
	background-color: transparent;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	border-radius: 4px;
	font-size: 1.125em;
	font-weight: 700;
	padding: 15px 30px;
	width:250px;
}

.siz{
	font-size:24px;
}
.app-btn a{
	color:white;
}
.downld{
	margin-top:30px;
}
/***********************PRICING 1**************************/
.imgs{
	background: url('../img/bg4.png') no-repeat;
	background-size: cover;
	padding-bottom:100px;
}
.sponsor{
	background-color: #e5eff6;
	color: #5b7182;
}
.team-img-b{
	background: #bdd1de;
	border-radius:80px;
	position: relative;
	width:80px;
	left:400px;
	top:20px;
	padding:5px;
}
.team-img-c{
	background: #bdd1de;
	border-radius:80px;
	position: relative;
	width:80px;
	left:850px;
	top:-50px;
	padding:5px;
}
.team-img-d{
	background: #bdd1de;
	border-radius:80px;
	position: relative;
	width:80px;
	left:620px;
	top:-10px;
	padding:5px;
}
.team-img-e{
	background: #bdd1de;
	border-radius:80px;
	position: relative;
	width:80px;
	left:490px;
	top:70px;
	padding:5px;
}
.team-img-f{
	background: #bdd1de;
	border-radius:80px;
	position: relative;
	width:80px;
	left:720px;
	top:0px;
	padding:5px;
}

.team-img-b:hover,.team-img-c:hover,.team-img-d:hover,.team-img-e:hover,.team-img-f:hover{
	background:linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
}
/*******************TEAM*******************/
.box{
	box-shadow: 0px 2px 4px 0px rgba(29, 37, 46, 0.1);
	padding: 25px;
	border-radius: 4px;
	margin-bottom: 15px;
}
.box1{
	box-shadow: 0px 2px 4px 0px rgba(29, 37, 46, 0.1);
	border-radius: 4px;
	margin-bottom: 15px;
	margin: 0px 10px;
}
.soc-a a{
	padding:0px 5px;
	color:#bdd1de;
	font-size:18px;
}
.p-head{
	background: linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
	color:white;
	padding:20px 10px;
	border-radius:4px 4px 0px 0px;
}
.team-img{
	margin:0 auto;
}
.team-img-a{
	background: #5b7182;
	padding:5px 0px;
	border-radius:80px;
	margin:0px 30px;
}
.team-img-a:hover{
	background: linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
	padding:5px 0px;
	border-radius:80px;
	margin:0px 30px;
}
.p-hdd{
	margin-top:10px;
	padding-left:40px;
}
.list li{
	list-style-type: none;
}
.list li{
	font-family: "Source Sans Pro", sans-serif;
	font-size: 14px;
	color: #5b7182;
}
.list i{
	padding:5px 15px 5px 0px;
}
.btn-inf{
	padding-bottom: 30px;
}
.btn-inf button{
	background-color: #4798d9;
	padding: 15px 35px;
	color: white;
	font-weight: 500px;
}
.btn-inf button:hover{
	background: white;
	border:1px solid #4798d9;
	color:#4798d9;
}
.sponsor{
	background: #bdd1de;
	padding:40px 0px;
}

/******************SCREENSHOT*********************/
.e-mail-a{
	padding: 4px;
	padding-left: 20px;
	border-radius: 4px;
	border:none ! important;
	box-shadow: none ! important;
	left:50px ! important;
	position: relative;
	font-style: italic;
}
.in-put{
	background: white;
	color:lightgray;
	box-sizing: border-box;
	box-shadow:  0px 2px 4px 0px rgba(203, 208, 211, 0.4);
	border-radius:4px;
	padding: 13px 20px;
	margin-top:50px;
	position: relative;
}
.in-icon{
	position: absolute;
	font-size:50px;
	margin-top: -12px;
}
.btn-sub{
	padding: 12px 35px;
	font-size:18px;
	background-color: #4798d9;
	color:white;
	border: 1px solid transparent;
	font-weight:700;
	border-radius:2px;
	position: absolute;
	top:8px;
	right:10px;
}
.down1{
	margin:100px 100px;
}
.mar{
	margin:40px 0px 0px 30px;
}
.screen{
	position: relative;
}
.image-over{
	width:100%;
	height: auto;
}
.middle{
	opacity: 0;
	background: linear-gradient(90deg, rgba(181, 39, 255, 0.85) 0, rgba(83, 179, 249, 0.85) 100%);
	position: absolute;

}
.screen:hover .middle{
	opacity:0.2;
}
.i-i{
	color: white;
  font-size: 40px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/**********************CONTACT***********************/
.contact{
	background: url('../img/bg5.jpg');
	background-size: cover;
	position:relative;
	z-index: -1;
	width:100%;
	height:700px;
	background-attachment: fixed;

}
input[type="email"]{
	border:none;
	background: transparent;
	outline: none;
	border-radius:0px;
	box-sizing: none;
	box-shadow: none;
	
}
.get{
	background:#f2faff;
	box-shadow: 2px 0 4px rgba(29, 37, 46, 0.4);
	z-index: 3;
	color: #5b7182;
	padding: 30px;
}
.get-title{
	color: #1d252e;
	font-size: 24px;
	font-weight: normal;
	font-family: "Montserrat", sans-serif;
	margin-bottom:20px;
}
.fa_get{
	font-size: 1.25em;
	color: #4798d9;
	padding: 5px ;
	padding-right: 15px;
}
.contact-form{
	background-color: rgba(189, 209, 222, 0.1);
	padding: 30px;
}
.get-title-white{
	color: white;
	font-size: 24px;
	font-weight: normal;
	font-family: "Montserrat", sans-serif;
	margin-bottom:20px;
}
.social{
	list-style-type: none;
	padding:0px;
	margin:0px;
}
.social li{
	display: inline-block;
	font-size: 20px;
	margin:0 5px;
}
/***************FOOTER*************/
.footer{
	padding: 35px 0px;
}
/*********************************/
.padd_100{
	padding:100px 0;
}
.head_blue{
	color:#4798d9;
}
.sec-head{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size:36px;
	color: #1d252e;
}
.sec-head-white{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size:36px;
	color: white;
}
.sec-para-white{
	font-size:16px;
	padding: 10px 0px;
	color: white;
	line-height: 26px;
	font-family: "Source Sans Pro", sans-serif;
}
.bar{
	font-size: 1em;
	border: 2px dotted #d1d9e2;
	padding: 3px;
	border-radius: 50%;
	color: #5b7182;
}
.sec-para{
	font-size:16px;
	padding: 10px 0px;
	color: #5b7182;
	line-height: 26px;
	font-family: "Source Sans Pro", sans-serif;
}
.sec-head3{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: #1d252e;
	font-size:24px;
	padding-top:30px;
}
.sec-head3-white{
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
	color: white;
	font-size:24px;
}
.m-tb-30{
	margin: 30px 0px;
}
.m-t-50{
	margin-top:50px;
}
.cont{
	height:130px;
}
.dbl{
	left:30px;
}
.btn-sub:hover{
	color: white;
	border:#4798d9;
}
[data-type='grey'] {
	-moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  [data-type='grey']:hover {
	-moz-filter: grayscale(100%);
    filter: grayscale(0%);
  }
   .member-a:hover{
	color:#4798d9;
  }


/***************MEDIA QUERY*******************/

@media screen and (min-width: 768px) and (max-width: 1024px){
	.imgs{
		display: none;
	}
	.dbl{
		display:none;
	}
	.contact{
		height:1050px;
	}
	.screenshot-back{
		height: 550px;
	}
	.team-img-a{
		margin: 0px 71px;
	}
	.team-img-a:hover{
		margin: 0px 71px;
	}
	.download{
		height: 604px;
	}
	.down {
		margin: 100px 60px;
	}
	.ali-icon{
		margin-left: 284px !important;
	}
	.ali-icon1{
		margin-left: 284px !important;
	}
	.home{
		height: 820px;
	}
}
@media screen and (min-width: 320px) and (max-width: 480px){
	.imgs{
		display: none;
	}
	.navbar{
		display: none;
	}
	.head-img{
		display: none;
	}
	.head-app{
		text-align:center;
		margin-top:20px !important;
	}
	.download{
		height:660px;
	}
	.down, .down1{
		margin: 0;
	}
	.app-btn{
		margin-left: 20px;
		margin-bottom: 15px;
	}
	.btn-sub{
		top: 90px;
		right: 3px;
		background-color: #4798d9;
		padding: 20px 90px;
	}
	.screenshot-back{
		height: 525px;
	}
	.p-head{
		text-align: center;
	}
	.box1{
		margin-bottom: 20px;
	}
	.sponsor{
		padding: 40px;
	}
	.sponsor img{
		margin-bottom: 30px;
	}
	.contact{
		height:1050px;
	}
	.head-btn{
		padding: 15px 90px;
	}
	.mar {
		margin: 40px 20px;
	}
	.team-img-a{
		width: 160px;
		margin-left: 55px;
	}
	.dbl{
		margin-top: 45px;
	}
}
