
body
{

  background-color: #fffdfd;

}
.contain_main1
{
  background-color: black;
    height: 56px;
    color: white;
    text-align: center;
    padding-top: 17px;

    
}
.help_1
{
    padding-right: 13px;
        font-size: 12px;

}
.contain_main2
{
   list-style-type: none;

}
.contain_main2 li
{


 display: inline-block;
  
}
/*.header_list 
{
    list-style-type:none;
    text-decoration: none;;
   
    
    }*/
 /*li a
{
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    }*/
    .header_list2  {
      list-style-type: none;
      margin-right: 28px;

    


    }

    .list_1 
    {
      float: right;
    }

    .header_list2   li a {
     /* display: block;*/
     padding: 16px;
     color: #000000;
     font-size: 13px;
     letter-spacing: 2px;
     padding: 18px 18px;
     text-decoration: none;
     line-height: 4;


   }
  
   .nav_1
   {
    margin-bottom: 0px !important;
  }
  .nav_2
  {
    margin-bottom: 4px !important;
    line-height: 57px;


  }


  .header_list2   li a:hover
  {
   border-top: 4px solid #ff4061;
   color: #ff4061;
   padding-top: 23px !important;
 }

 .dropdown
 {
  position: relative;
  display: inline-block;
  top: 106% !important;
}

.dropdown-menu  {
  display: none;
  position: absolute;
  background-color:#ff4061;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin: 35px 0 0 !important;
}

.dropdown-menu  li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 14px;


}
.slide_one{
  position: absolute;
}
.slide_text{
  position: relative;
     bottom: 488px;
         text-shadow: 0 3px 2px #010101 !important;

}
.slide_text1{
  position: relative;
     bottom: 252px;
          text-shadow: 0 3px 2px #010101 !important;

}
.slide_text2{
  position: relative;
     bottom: 129px;
          text-shadow: 0 3px 2px #010101 !important;

}
.vendor{
  font-size: 57px;
  font-weight: 500;
}
.vendor_para{
      font-size: 19px;
    line-height: 22px;
    margin-top: 53px;
    font-weight: 400;
}
.dropdown-menu li  a:hover
{
  background-color:#ff4061 !important;


}
a.animated-button.victoria-one.anima_1 {
  border: 2px solid #D24D57;
  width: 91%;
  margin-top: 35px;
  padding-top: 15px;
  padding-bottom: 11px;
}
.carousel-control.right
{
  background-image: none !important;
}
.carousel-control.left
{
  background-image: none !important;
}
.dropdown:hover .dropdown-menu {display: block;}

/*
Animate Bootstrap Carousel
Element by thecodeblock.com
*/

/********************************/
/*       Coloring indicators    */
/********************************/
.carousel-animate{
  .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
    &.active {
      width: 10px;
      height: 10px;
      opacity: 1;
    }
  }
}
/********************************/
/*          Hero Headers        */
/********************************/
.carousel-animate{
  .hero {
    color: #fff;
    text-align: center;
    text-transform: lowercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
  }
}
/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg 
{
	padding: 10px 66px;
	border-radius: 0px;
}
.btn_1
{

  outline: none;
  margin: 23px auto;
}
.btn_2
{
 height: 49px !important;
 border-radius:0px !important;
 margin-top: 36px;
}
.icon_1
{
	font-size: 12px !important;
	background-color: black;
 padding-top: 8px;

}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
  color: #f5f5f5;
  background-color: #1abc9c;
  border-color: #1abc9c;
  outline: none;
  margin: 20px auto;
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (max-width: 640px){
  .hero h1 { font-size: 2em; }    
}
/********************************/
/*          Fade Effect         */
/********************************/
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }
    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }
    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }
    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
}
/************************************/
/*       BS bacground Images       */
/**********************************/
.carousel-bg {
  .carousel-inner {
    .item {

      background-size: cover;
      background-position: center;
      min-height: 100px;
    }
  }
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.5, 1.5);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.carousel-inner .item > img {
  -webkit-animation: zoom 20s;
  animation: zoom 30s;
}
.left carousel-control
{

  background-color: none;
}
.bottom_panel
{

  width: 100%;
  background-color: rgba(32,32,32,.6);
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  z-index: 99;
  border-radius: 0;
}
.heading
{
  text-align: center;
  font-size: 32px;
  
  /* font-family: 'absender';*/
  margin-bottom: 10px;
  padding-top: 113px;
  color: #333;


}
.heading2 p
{
  font-size: 15px;
  text-align: center;
  color: #999;
  line-height: 1.73;



}

.sec_4
{
  padding-top: 113px;
}
.sec_5
{
  padding-top: 45px;
}
.shadow
{

  background-color: white;
}
.shadow:hover
{
  box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.11);
  border-bottom: 1px solid  #ff4061 ;
}
.shadow_s
{

  background-color: white;
}
.shadow_s:hover
{
  box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
}
.para_2 
{


    border-top: none;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: .3px;
    margin-bottom: 5px;

}


.para3
{
  margin-bottom: 16px;

}
.color_1
{
 padding-right: 0px !important;
 padding-left: 0px !important;
 background: #f3f3f3;
 border: 1px solid #e3e3e3;

}
.paragraph_1
{

 text-align: left;
}
.para3
{
 padding-left: 11px;
 margin-top: 9px;
 font-size: 20px;
 padding-bottom: 20px;
 padding-top: 15px;

}
.label_c 
{
  top: 20px;
  left: 25px;
  position: absolute;
  width: 50px;
  height: 30px;
  text-align: center;
  background-color: #ff4061;
  color: #fff;

  padding: 4px 0;
}
.sec_1
{
  margin-top: 60px;
}

.pic_1 
{
  position: relative;

  background-color: rgba(57,45,72,.7);


}
.image_2
{

  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.middle_1 {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;




}

.pic_1:hover .image_2 {
  opacity: 0.3;
}

.pic_1:hover .middle_1 {
  opacity: 1;
}
.shadow_1
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.section_2
{
 background-color: #f4f2ec !important;
 margin-top: 87px;
}
.paragraph_2
{
 padding: 25px 20px 7px 25px;
}
.para4
{
  padding-top: 0px;
  margin-top: 15px;

}
.str_2
{
  border-right:2px solid #ccc;
  padding-left: 15px;
  padding-right: 16px;
}

.str_4
{
  padding-left: 31px;
}
.str_5
{
 padding-right: 11px;
 float: right;
}
.label_d
{
 top: 1px;
 
 position: absolute;
 width: 66px;
 height: 30px;
 text-align: center;
 background-color: #ff4061;
 color: #fff;

 padding: 4px 0;
}
.shadow_a
{
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 background-color: white;
}
.shadow_a:hover
{
  box-shadow: 4px 5px 9px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: 1px solid #ff4061; 
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(57,45,72,.9);
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .5s ease;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  opacity: 1;
}
.img_1:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 0.9;
}

.text {
  color: white;
  
  position: absolute;
  top: 42%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.icon_a
{
  color: #ff4061;
  

  margin-right: 5px;
}
.text_1 
{
  color: white;
  text-decoration: none;
}
.sec_3{
  margin-top: 86px;
}

.card
{
  border: 1px solid #e3e3e3;
  background-color: #f7f7f7;
  margin-bottom: 30px;
  margin-left: 11px;

}
.head_1
{
  padding: 12px 20px 25px 25px;
}
.head_2 a
{
  text-decoration: none;
  color: #333;

  font-weight: 700;

  line-height: 1.63;
  font-size: 16px;
}
.head_2 
{
  margin-bottom: 10px;
}

.bottom_1
{
  display: inline-block;
  width: 100%;
  border-top: 1px solid #e3e3e3;
  padding-top: 20px;

}
.bott_2
{    padding-bottom: 20px;
  padding-left: 25px;
  
  line-height: 1.2;
  font-size: 16px;
  display: inline-block;
  color: #ff4061;

}
.bott_2 a
{
  color: #ff4061;
  
}
.bott_2 a:hover
{
  color: #ff4061;
  text-decoration: none;
}
.bottom_2
{
  padding-right: 25px;
  padding-bottom: 20px;
  line-height: 2.2;
  font-size: 17px;

  float: right;
  display: inline-block;
}
.list_3
{
  border-left: 1px solid #ccc;
  padding-left: 15px;
}
.str_3  
{
 color: #ff4061;

 padding-left: 11px;

}
.str_3 a
{
   color: #ff4061;
}  
.str_3 a:hover
{
   color: #ff4061;
    text-decoration: none;
}
.btn_a
{
  padding: 2px 7px !important;
  margin-bottom: -13px !important;
  margin-top: -11px;
}


/*@-webkit-keyframes scale-in {
     0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1); opacity: 1;}
}

@keyframes scale-in {
    0%   {transform: scale(10, 10); opacity: 0;}
    100% {transform: scale(1, 1);  opacity: 1;}
    }*/
    /*==========ROLL-OUT==========*/
/*@-webkit-keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
}
@keyframes roll-out {
    0%   {width: 0;}
    100% {width: 100%; }
    }*/
/*body{
   background: #392f28;
   }*/
   main
   {
    width: 100%;
    overflow: hidden;

  }
  .hero{
    width: 100%;

    height: 364px;
    text-align: center;
    margin: 0 auto;

    position: relative; 
    color: white;
  }

  .hero h1{
    font-size: 3.1em;
    margin: auto;
    position: absolute; 
    top: 149px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

/*.hero img{
  width: 100%;
  }*/
/*.bar{
  width: 100%;
  height: 200px;
  background: -moz-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -webkit-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: -ms-linear-gradient(289deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  background: linear-gradient(161deg, #c60a09 0%, #f23332 36%, #c60a09 100%);
  opacity: 0.3;
  position: absolute; 
  z-index: 0;
  left: 0;
  top: 90px;
  -ms-transform-origin: 100% 0%;
  -webkit-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
   -webkit-animation: roll-out 1.2s ease-out ;
  -moz-animation: roll-out 1.2s ease-out ;
    animation: roll-out 1.2s ease-out ; 
    }*/
/*.hero h1, .hero p{
  -webkit-animation: scale-in 1.3s ease-out;
  -moz-animation: scale-in 1.3s  ease-out;
    animation: scale-in 1.3s ease-out; 
    }*/

/*
@media all and (max-width: 768px) {
  .hero{
    height: 50vw;
  }
  .bar{
    height: 26vw;
    top: 10vw;
  }
  .hero h1{
    font-size: 8vw;
    top: 13vw;
  }
  .hero p{
    font-size: 3vw;
    top: 27vw;
  }
 
  }*/
  .butts_1
  {
    margin-top: 12px;
    background: #ff4061;
    padding: 17px 35px;
    border-radius: 6px;
    font-size: 16px;
    border: 1px solid transparent;
    text-transform: uppercase;
  }
  /*  a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size:14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    }*/
    a.animated-button:link:after, a.animated-button:visited:after {
      content: "";
      position: absolute;
      height: 0%;
      left: 50%;
      top: 50%;
      width: 150%;
      z-index: -1;
      -webkit-transition: all 0.75s ease 0s;
      -moz-transition: all 0.75s ease 0s;
      -o-transition: all 0.75s ease 0s;
      transition: all 0.75s ease 0s;
    }
    a.animated-button:link:hover, a.animated-button:visited:hover {
      color: #FFF;
      text-shadow: none;
    }
    a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
      height: 450%;
    }
    a.animated-button:link, a.animated-button:visited {
      position: relative;
      display: block;
      margin: 30px auto 0;
      padding: 14px 15px;
      color: #fff;
      font-size:14px;
      border-radius: 0;
      font-weight: bold;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      letter-spacing: .08em;
      text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    a.animated-button.victoria-one {
      border: 2px solid #D24D57;
      width: 27%;
    }
    a.animated-button.victoria-one:after {
      background:#D24D57;
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
      transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    }
    .card_1
    {
     padding: 40px;
     border: solid 1px #e4e4e4;
     margin-bottom: 30px;
   }
   .row_a{
    margin-top: 70px;
  }
  .icon_2
  {
    color: #ff4061;
    margin-bottom: 12px;
  }
  .hed
  {
   margin-bottom: 24px;
   margin-top: 21px;
 }
 .card_1:hover
 {
  border: 1px solid #D24D57;
}


#quote-carousel {
  padding: 77px 18px 197px 18px;
  margin-top: 60px;
  background-image: url("img/test.jpg");
}
#quote-carousel .carousel-control {

  color: #CACACA;
  font-size: 2.3em;
  margin-top: 217px;


}
#quote-carousel .carousel-indicators {

  position: relative;
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-top: 20px;
  margin-right: -19px;
}
#quote-carousel .carousel-indicators li {
 width: 57px;
 height: 50px;

 cursor: pointer;
 border: 1px solid #ccc;

 border-radius: 50%;

 overflow: hidden;
 transition: all .3s ease-in;

}
#quote-carousel .carousel-indicators .active {
 width: 98px;
 height: 99px;
 opacity: 1;
 transition: all .1s;
}
.item blockquote {
  border-left: none;
  margin: 0;
}
.item blockquote p:before {
  content: "\f10d";

  float: left;
  margin-right: 10px;
}
/*.carousel-control
{
position: relative !important;
}
*/
.para_1
{
  color: white;
}
.new_head
{

  margin-bottom: 18px;
  font-size: 16px;
}
.new_news
{
     background: #f5f5f5;
    padding: 30px 25px;
    border: 1px solid #e4e4e4;
        margin-top: -32px;

}

.bott_3 a
{
  color: #ff4061;
  
}
.bott_3 a:hover
{
    color: #ff4061;
    text-decoration: none;
}
.label_e{


  position: relative;
  
  width: 115px;
  height: 30px;
  text-align: center;
  background-color: #ff4061;
  color: #fff;
  bottom: 29px;
  padding: 4px 0;

}
.footr
{

  background-color: #353139;
  margin-top: 66px;

}
.footred 
{
  color: white;
  padding: 17px;
  padding-left: 0px;
  padding-top: 80px
  font-size:23px;
}
.header_list 
{
  color: white;
}
.header_list ul
{
  list-style: none;
  color: #7f7f7f;
  padding-left: 12px;
  margin-left: -29px;

}
.header_list ul li
{
  list-style: none;
  color: white;
  line-height: 2.3;


}
.page_1 
{

 padding-bottom: 60px;

}
.header_list1 ul li
{
  float: left;
  margin-bottom: 10px;
  width: 50%;
  line-height: 1.6;


}
.header_list1
{
  color: white;
}
.header_list1 ul
{
  list-style: none;
  color: white;
  line-height: 2.7;
  padding-left: 0px;

}
.footerhed1{
  background-color:  #29242f;
  color:white;
  text-align: center;
  padding: 25px 0;
}

a.animated-button.victoria-one.anima_2
{
  border: 2px solid #D24D57;
  width: 55%;
  margin-left: 0px;
  margin-top: 24px;
  padding-top: 9px;
  padding-bottom: 11px;
}
a.animated-button.victoria-one.anima_3
{

  border: 2px solid #D24D57;
  width: 100%;
  margin-left: 1px;
  margin-top: 0px;
  padding-top: 12px;
  padding-bottom: 10px;

}

.form_1
{
  padding: 21px 12px !important;
  border-radius: 0px !important;
}



/* To Navigation Style */
.codrops-top {
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.69em;
  line-height: 2.2;
}

.codrops-top a {
  display: inline-block;
  padding: 1em 2em;
  text-decoration: none;
  letter-spacing: 1px;
}

.codrops-top span.right {
  float: right;
}

.codrops-top span.right a {
  display: block;
  float: left;
}

.codrops-icon:before {
  margin: 0 4px;
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'codropsicons';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
  content: "\e001";
}

.codrops-icon-prev:before {
  content: "\e004";
}

/* Related demos */


/* Demo ad design */


/* Common style */
.grid figure {
  position: relative;
  
  overflow: hidden;
  /*margin: 10px 1%;*/
  min-width: 320px;
  max-width: 480px;
  max-height: 360px;
  
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.grid figure img {
  position: relative;
  display: block;
  min-height: 100%;
  max-width: 100%;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 2em;
  color: #fff;    
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




figure.effect-jazz {
  background: -webkit-linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
  background: linear-gradient(-45deg, #f3cf3f 0%,#f33f58 100%);
}

figure.effect-jazz img {
  opacity: 0.9;
}

figure.effect-jazz figcaption::after,
figure.effect-jazz img,
figure.effect-jazz p {
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect-jazz figcaption::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  content: '';
  opacity: 0;
  -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  transform: rotate3d(0,0,1,45deg) scale3d(1,0,1);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

 figure.effect-jazz:hover img {
    opacity: 0.7;
    -webkit-transform: scale3d(1.05,1.05,1);
    transform: scale3d(1.05,1.05,1);
  }

  figure.effect-jazz:hover figcaption::after {
    opacity: 1;
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
  }


  .card_2 
  {
    border: 1px solid #e3e3e3;
    background-color: #f1f1f1;
    padding: 33px;

  }
  .testi_1
  {
    color: white;
    font-size: 31px;

  }
  .testi_2
  {
   color: white;
   margin-bottom: 66px;
 }

.carousel-control.left
{
  background-image: none !important;
}
.carousel-control.right
{
background-image: none;
}
.item blockquote p:before
{
content: none;
}
 /*<=========================palnning.csss=================>*/
 input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e3e3e3;
  background: #f8f8f8;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 2.36;
  letter-spacing: 1.1px;
  margin-bottom: 20px;
}

.but {
 background: #ff4061;
 color: white;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 100%;
}

.but:hover {
  opacity: 0.8;
}
.but
{
  color: white;
}

.sign
{
  margin-top: 36px;
  margin-left: 5px;
  color: #777;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: .2px;
}
.reg
{
  margin-top: 26px;
  margin-left: 4px;
  color: #777;
  font-size: 15px;
  line-height: 1.73;
  letter-spacing: .2px;
}


.cont1
{
  padding: 16px;
}

.psw 
{
  float: right;
  margin-top: -34px;
  color: #ff4061;

}
.psw:hover
{
 color: #ff4061;
}
.header
{
  padding: 53px 60px;
  background-color: #fff;
  box-shadow: 0 0 15px 0 rgba(0,0,0,.08);
}
.class_1
{
  background-color: #faf9f5;
}
.pink 
{
 color: #ff4061;

}
.pink:hover
{
 color: #ff4061;
}
.fa-facebook {
  background: #3B5998;
  margin-left: 19px;
  color: white;
  text-orientation: none;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}
.fa {
  font-size: 30px;


  text-align: center;
  width: 35px;
  height: 35px;
  padding: 8px 0;

  text-decoration: none;

}
.iconn li{
  display: inline-block;
  margin-top: 38px;
}
.glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #f4511e;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
  }/*
<=========================list csss---====================>
*/
.form_1
{
  background-color: #ebe4e4;
}

.box
{
 background-color: #fff;
 border: 1px solid #ddd;
 padding-bottom: 24px;


}
.btn_search
{

  background-color: #ff4061;
  color: white;
  font-size: 15px;
  border:none;
  margin-top: 34px;
  height: 50px;
  
  width: 95%;
  padding: 13px 0;

}
.btn_search:hover
{
  background-color:#392d48;
  color: white;


}
.filter
{

  font-weight: 700;
  text-transform: uppercase;
  padding-left: 19px;
  padding-top: 16px;
}

/*==========================Vendor csss===============*/



.header_1
{
 padding: 100px 0;
}
.cards
{


  background-color: #f7f7f7;

}
.filter1
{

  margin-top: 11px;
}

.lists
{
  margin: 0 0 20px;
  padding: 0;
}
.lists
{
  margin: 0 0 20px;
  padding: 0;

}
.lists li
{
  display: inline-block;
  border-left: 1px solid #999;
  letter-spacing: .4px;
  border-right: none;
  padding: 0 10px;
  font-size: 12px;
  line-height: 1.4;

  color: #666;

}
.para_content
{

  color: #666;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 20px;
}
.btn_more
{
  color: white;
  background-color: #ff4061
}
.btn_more:hover
{
 background-color:#392d48;
 color: white;
 text-decoration: none;
 

}
.border_1
{

 margin-top: 45px;
 border-top: 1px solid #e4e4e4; 

}
.input1
{
 border: 1px solid #e4e4e4;
 padding: 30px;
 background: #f5f5f5;
 margin-bottom: 40px;
}
.group
{
  background-color: #ff4061 !important;
  color: white !important;
  padding: 15px 19px !important;

}
.form-control.control1
{
  height: 44px;
  padding: 13px 15px;
}
.tips_1
{
 list-style: none;
 color: #7f7f7f;
 padding-left: 6px;
 padding-top: 25px;
 padding-bottom: 6px;

}
.cate_1
{
  background-color: #f7f7f7;
  border: 1px solid #e4e4e4;
  padding-left: 24px;
  padding-right: 39px;

}
.posts
{
  border: 1px solid #e4e4e4;

  background: #f5f5f5;
  margin-top: 51px;
  
  padding: 30px;

}
.bord_1
{
  border-radius: 39px;

}
.feb
{
  font-size: 13px;
  line-height: 1.85;
  color: #ff4061;
  margin-bottom: 10px;
}
.title1
{
  padding-bottom: 28px;
}
.btn3 {
  background-color: #ddd;
  border: none;

  text-align: center;


  transition: 0.3s;
  padding: 9px 22px;
  background-color: #797671;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 6px;
  font-size: 15px !important;
  line-height: 1.6;
  color: #f6f6f6;
}

.btn3:hover {
  background-color:#ff4061;;
  color: white;
  text-decoration: none;
}
.title3
{
  margin-bottom: 38px;
}
.card_3
{


  padding: 40px;
  border: solid 1px #e4e4e4;
  margin-bottom: 30px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.25);
}
.icon_box
{

  position: relative;
  background-color: #ff4061;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  margin: 0 auto 14px;
  overflow: hidden;
}
.icon_3{


  color: white;
  margin-bottom: 12px;
  padding: 19px 17px;
}


/*<=====================feature==================>*/

.fea_1
{

 background-color: #f7f7f7;
 border: 1px solid #e4e4e4;
 padding: 54px 0 57px;

}
.corel_1
{
  font-size: 22px;
  font-weight: 700;
  line-height: 1.09;

  margin-bottom: 15px;
}
.button_1
{
 background-color:  #ff4061;
 border: none;
 margin-left: 2px;
 color: white;
}
.button_1:hover
{
  background-color:#392d48;
  color: white;
  text-decoration: none;
}
.price
{
  margin-top: 20px;
  font-weight: 700;
}
.button_2
{
 background-color: white;
 border: solid 1px #dbe7ef;
 color: #363e41;

 padding-left: 20px;
 padding-top: 4px;
 padding-right: 26px;
 margin-right: 11px

}
.button_2:hover
{
  background-color:#333;
  color: white;
}
.rate
{
  margin-top: 5px;
  font-weight: 300;
}


.box_a
{
  background-color: #fff;
  border: 1px solid #ddd;
  padding-bottom: 39px;
  margin-left: -1px;

}
.table_1
{
  border: 1px solid #ddd;
  border-collapse: separate;
  

}
.send_1{


  line-height: 1.6;
  font-weight: 700;
  color: #333;
  margin-top: 21px;
}

.tab_1
{
  padding: 99px 0 150px;
}
.posts_1{
  border: 1px solid #e4e4e4;
  background: #f5f5f5;

  padding: 30px;
}
.tab_para
{
  font-size: 16px;
  line-height: 1.63;
  color: #777;
  margin-bottom: 20px
}
.des_head{
  line-height: 1.63;

  color: #666;
  text-transform: uppercase;
  font-size: 17px;
  padding-bottom: 22px;
  border-bottom: 1px solid #dadada;
  margin-bottom: 25px;
}
.tab_para2
{
  font-size: 16px;
  line-height: 1.63;
  padding-bottom: 22px;
  color: #777;
  margin-bottom: 25px;
  border-bottom: 1px solid #dadada;
}
.nav_main
{
 background-color: #e5e2e2;

}
.nav.nav_main li a
{
 border-radius: 0px !important; 
 padding-left: 56px;
 padding-right: 67px;
 color: gray;

}
.nav.nav_main li a:hover
{
  background-color:#eb527d;
  color: white;
}

nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #eb527d !important;
}
.vebdor_list
{
  list-style: none;
  
  line-height: 2.7;
  padding-left: 0px;

}
.tab_para3
{
 font-size: 16px;
 line-height: 1.63;
 color: #777;
 margin-top: 38px;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}
.face_1{
  background: #3B5998;

  color: white;
  text-orientation: none;
}
.icons
{
  margin-right: 12px;
}
.data{
 padding: 15px 25px;
 margin-top: 12px;

}
.data_1{
 margin-left:  11px;
 margin-top: 20px;
}
.default_1
{
  background-color: #fff;
  border: 1px solid #dadce0;

  border-radius: 4px;
  margin-right: 7px;
  margin-left: 8px;
  margin-top: 4px;
  font-size: 14px;
  height: 36px;

  padding: 7px 18px;
}
.faq_section{
  margin:40px auto;
}
.FaQ_Each{
  padding-bottom: 10px;
}
.box  {
  /*background: rgba(246, 246, 246, 1);*/
  color: #666666;
  padding-top: 36px;
  padding-bottom:15px;
  padding-left: 20px;
  font-size: 18px;
  text-transform: uppercase;
  cursor:pointer;
  border: 1px solid #d9d9d9;
}
.draw {
  display: none;
  background: #ffffff;
  padding: 20px;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  color: #777;
  margin-bottom: 16px;
  padding-left:30px;
} 
#other{
  display: none;
}
.qus_1
{

  color: #777;
  font-size: 22px;
  margin-left: 20px;
  margin-bottom: 20px;

}
.qus_2
{
 border-bottom: 2px dotted #c7c6c6;
}


.plus_1
{
  width: 37px;
  height: 31px;
  background-color: black;
  position: absolute;
  border-radius: 4px;
  color: white;
  right: 30px;
  top: 15px;
}
.minus_1{
 width: 37px;
 height: 31px;
 background-color:  #ff4061;
 position: absolute;
 border-radius: 4px;
 color: white;
 right: 30px;
 top: 15px;
}
.plus_2
{
  width: 37px;
  height: 31px;
  background-color: black;
  margin-top: -16px;
  margin-right: 11px;
  border-radius: 4px;
  color: white;
  right: 30px;
  top: 15px;
}
.minus_2{
 width: 37px;
 height: 31px;
 background-color:  #ff4061;
 margin-top: -16px;
 margin-right: 11px;
 border-radius: 4px;
 color: white;
 right: 30px;
 top: 15px;
}
.jump_1{
 background-color: #342a43 !important;
}
.head_3
{
  color: white;
  font-size: 43px;

}
.head_4{
 color: white;
 font-size: 15px;
}


 #calendar {
    max-width: 900px;
    margin: 0 auto;
  }
.fc-day-grid-event
{
      margin-top: 18px  !important;
      background-color: green !important;
}
.fc-event .fc-bg
{
background: #60e83e !important;
    opacity: 0.25;
}


:root{
    --primaryred:#ff424f;
    --secondaryred:#f84735;
    --lightblack:#222b31;
    --darkblack:#191c1f;
    --mainfont:'Dancing Script', cursive;
    --secondfont: 'Lato', sans-serif;
}
body{
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family:var(--secondfont);
}
*,*:before,*:after{
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}
.fullcontent{
    width:100%;
    min-height: 100vh;
    height: auto;
    padding:6% 10% 5% 10%;
    background-image: url(img/back3.jpg);
    background:linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)),url(img/back3.jpg);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: row;
}
.headings{
     /* background:red;  */
    flex-basis: 65%;
    margin-right: 5%;
}
.headings h1{
    font-size: 4rem;
    font-family:var(--mainfont);
    color:white;
    margin:3% 0% 3% 0%;
}
.headings h2{
  font-size:1.2rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}
.formbox{
    background:rgb(34,43,49,0.7);
    color:white;
    width: 300% !important;
  
   border-top: 10px solid #f8b335;
    padding:2% 3%;
}

.formbox h3{
    font-family: var(--mainfont);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.formbox form label{
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    max-width: 100%;
   padding-bottom: 16px;
 }
.formbox form .asd{
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    background: transparent;
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 1rem;
}
.checkbox-inline.line_1
{
  margin-top: 22px !important;
 margin-left: 20px!important;
 margin-right: 11px!important;
}
.food_1
{
  margin-top: 17px;
}
/*form .mainbox{
    color: white;
    box-shadow: none;
    background: var(--secondaryred);
    height: 2.8rem;
    display: block;
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: none;
    border: none;
}
a .mainbox{
    margin: 0;
    padding: 2%;
}
*/
/*************************************/
.container-img{
  background-repeat: no-repeat, repeat;
    background-color: #1E1E1E;
    background-size: cover;
    width: 395px;
    height: 400px;
  }
  
  .pre-img{
    height: 90%;
    width: 90%;
    background-color: #1E1E1E;
    opacity: 0;
    text-align:center;
    margin:5%;
  }
  .mb{
    margin-bottom: 30px;
  }
  #portfolio{
      background:#f6f6f1;
      padding: 20px 10px;
  }
  .pre-img:hover{
    color: black !important;
    font-size: 50px;
    padding-top: 30%;
    opacity: 0.5;
    
   
  }

  .container-img:hover .top{
    display: none;
  }
  .container-img:hover .top1{
    display: none;
  }
  .container-img:hover .top2{
    display: none;
  }
  .hvr-rectangle-out{
    display:inline-block;
    vertical-align:middle;
    -webkit-transform:perspective(1px) translateZ(0);
    transform:perspective(1px) translateZ(0);
    box-shadow:0 0 1px rgba(0,0,0,0);
    position:relative;
    background:#e1e1e1;
    -webkit-transition-property:color;
    transition-property:color;
    -webkit-transition-duration:.3s;
    transition-duration:.3s
  }
  .hvr-rectangle-out:before{
    content:"";
    position:absolute;
    z-index:-1;top:0;left:0;right:0;bottom:0;
    background:lightgrey;-webkit-transform:scale(0);transform:scale(0);
    -webkit-transition-property:transform;transition-property:
    transform;-webkit-transition-duration:.3s;transition-duration:.3s;
    -webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.hvr-rectangle-out:active,.hvr-rectangle-out:focus,.hvr-rectangle-out:hover{color:#fff}.hvr-rectangle-out:active:before,.hvr-rectangle-out:focus:before,.hvr-rectangle-out:hover:before{-webkit-transform:scale(1);transform:scale(1)}
  .img-mod{
      width:900px !important;
      height:570px !important;
  }
  .img-port01{
    background-image: url('img/1.jpg');
   

  }
  .img-port02{
    background-image: url("img/architecture-art-decoration-1040626.jpg");
    margin-left: -15px;


  }
  .img-port03{
    background-image: url("img/img3.jpg");
   
  }
  .img-port04{
    background-image: url("img/balloons-1360190_1920.jpg");
    margin-left: -15px;

  }
  .img-port05{
    background-image: url("img/car-3518388_1920.jpg");
   
  }
  .img-port06{
    background-image: url("img/back1.jpg");
   
  }
  .top{
  background: #f6f6f1;
  position: absolute;
  padding: 10px 15px;
  top: -20px;
  color: #635671;
  width: 150px;
  text-align: center;
  }
  .top1{
    background: #f6f6f1;
    position: absolute;
    padding: 10px 15px;
    top: -20px;
    color: #635671;
    width: 150px;
    text-align: center;
    right:15px;
    }
    .top2{
      background: #f6f6f1;

position: absolute;

padding: 10px 15px;

color: #635671;

width: 150px;

text-align: center;

left: 145px;

bottom: -10px;
    }
  .span3{
    padding: 20px;
    margin-bottom: 50px;
  }
  
  /* .hover:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background:lightcyan;
  } */
  .indicators02>li{
    background-color: #003760;
  
  }
  
  .indicators02>li:hover{
    background-color: #005492;
  
  }
  
  .carousel-indicators .active {
    background-color: #FAAB47;
  
  }
  
  .modal-content{
    border-radius: 0px;
    border:none;
  }
  
  .img-mod .carousel-caption{
    color: #1E1E1E;
    background: #fff;
    bottom:-5px;
    padding-right: 30%;
    position: relative;
  }
  
  .img-mod .carousel-caption >h4{
    font-size: 19px;
  }
  
  .img-mod .carousel-caption >p{
    color: gray;
    font-size: 14px;
  }
  
  .img-mod .carousel-control-prev{
    background: #fff;
    width: 60px; 
    height: 50px;
    margin:70% 10px 10px 10px;
  }
  
  .img-mod .carousel-control-next{
    background: #fff; 
    width: 60px; 
    height: 50px;
    margin:70% 10px 10px 10px;
  }
  
  
  .img-mod .carousel-item > img {
    width: auto;
    height: 500px;
    }
  
  .sec-space{
    padding-top: 5px;
    padding-bottom: 10px;
  }
  
  .titulos01{
    padding-top: 80px;
    padding-bottom: 30px;
    font-style: italic;
    font-family: 'Noticia Text', serif;
  }
  
  .titulos01 > h1, h2  {
     letter-spacing: 2.5px;
     color: grey;
     font-size: 20px;
  }
  
  .titulos01 > h3{
     letter-spacing: 3px;
     color: grey;
     font-size: 14px;
  }
  
  .btn-tipo01{
    background: #1E1E1E;
    color: #fff;
    padding: 10px 25px 10px 25px;
    border:none;
    border-radius: 0px;
    margin-top: 10px
  }
  
  .btn-tipo01:hover{
    background: #FAAB47;
    color: #1E1E1E;
  }
  
  .bar-neu{
    background: #c2c2c2;
    height: 40px;
    width: 2px;
    display: block;
  margin-bottom: 5px;
  }
.head{
  padding:30px 0px;
  background:#f380ac;
  margin-bottom: 20px;
}
  @media screen and (min-width: 768px) and (max-width: 1024px){
      .container-img{
          width:345px !important;
      }
      .pre-img{
          height: 100%;
          width: 100%;
          background-color: #1E1E1E;
          opacity: 0;
          text-align:center;
        }
  }
  @media screen and (min-width: 360px) and (max-width: 420px){
      .container-img{
          width:310px !important;
          height:300px !important;
      }
  }